<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content intro-uslugi__content_main">
            <h2 class="intro-uslugi__title intro-uslugi__title_inf">Мойка окон</h2>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Мойка окон по низкой цене в Москве доступна в нашей компании Домачисто. Мы предоставляем широкий спектр услуг по клинингу с гарантией результата. Звоните нам прямо сейчас и оставляйте заявку!</span>
                <h4>Описание:</h4>
                <p>Мойка окон — одна из самых востребованных услуг в Москве и Московской области. Она нужна часто, ведь поверхность набирает пыль и грязь не только со стороны квартиры, но и со стороны улицы.</p>
                <p>В услугу мойки окон входит:</p>
                <ul>
                    <li>внешний и внутренний подоконник;</li>
                    <li>рама;</li>
                    <li>межрамное пространство;</li>
                    <li>стекла.</li>
                </ul>
                <p>Таким образом, заказывая услугу, вы получаете чистое окно, вне зависимости от типа загрязнения.</p>
                <h4>Кому и когда требуется клининг окон</h4>
                <p>Мытье окон необходимо проводить два раза в год, как минимум. Это наступление весны и перед зимой. Вы получите чистое не заляпанное окно, которое будет радовать глаза. Заказать услугу можно:</p>
                <ul>
                    <li>для себя;</li>
                    <li>для родных и близких людей;</li>
                    <li>для компании.</li>
                </ul>
                <p>Мы гарантируем чистые без разводов окон. Зачем самостоятельно тратить время и стараться отмыть трудновыводимые пятна, когда можно обратиться к профессионалам, которые не просто знают, но и умеют справляться с любыми типами пятен.</p>
                <h4>Какие еще услуги мы предоставляем</h4>
                <p>Наша компания является профессионалом в данном направлении. Мы готовы предложить нашим клиентам:</p>
                <ul>
                    <li>генеральную уборку в квартире или доме;</li>
                    <li>комплексные услуги после ремонта;</li>
                    <li>клининг помещений.</li>
                </ul>
                <p>Чтобы оставить заявку, просто позвоните по указанному номеру. Наши консультанты ответят на все имеющиеся у вас вопросы и помогут определиться с датой и временем. Наш специалист производит окончательный расчет и выезжает персонал в оговоренное время.</p>
                <h4>Преимущества обращения к нам:</h4>
                <ul>
                    <li>Индивидуальный подход. Мы учтем все ваши пожелания и выполним работу в короткие сроки.</li>
                    <li>Лояльное ценообразование. Мы понимаем как важно соблюдать чистоту дома. Именно она создает уют и комфорт, поэтому не завышаем стоимость на собственные услуги.</li>
                    <li>Наличие профессионального немецкого оборудования Karcher, которое поможет выполнить химчистку вашей мебели и ковров.</li>
                    <li>Экологичные средства для уборки. Применяем только проверенные препараты, которые не вызовут аллергических реакций и не вредны для домашних животных.</li>
                    <li>Выполнение работ в точно оговоренные сроки. Мы действуем согласно договору, большой опыт позволяет точно определять время уборки.</li>
                    <li>Наличие медицинских книг у каждого сотрудника нашей компании. Мы понимаем насколько это важно для каждого клиента.</li>
                    <li>Возможность постоянного сотрудничества. Наши специалисты могут выезжать к вам по графику, прописанному в договоре.</li>
                </ul>
                <p>Мойку окон в квартире в Москве по доступной цене можно заказать онлайн. Для этого оставьте заявку на нашем официальном сайте. Мы являемся профессионалами, поэтому предоставим услугу в высоком качестве!</p>
            </div>
            <!-- text end -->
        </div>
    </div>
</div>