<div class="list-works list-works_window">
    <div class="wrapper">
        <div class="list-works__content">
                
            <!-- window -->
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">Мойка окон</h1>
            <span class="intro-uslugi__title-info">
                Стоимость мойки окон рассчитывается по площади остекления. <br>
                Как определяется площадь окон: ширина оконного проёма умножается на высоту оконного проёма
            </span>
            <div class="list-works__table intro-prices__table">

                <table> 
                    <tbody>
                        <tr>
                            <td>Стоимость мойки окон</td>
                            <td> за 1м²</td>
                            <td> от 400 руб.</td>
                        </tr>
                        <tr>
                            <td>Стоимость мытья москитной сетки</td>
                            <td> за 1шт.</td>
                            <td> от 150 руб.</td>
                        </tr>
                        <tr>
                            <td>Стоимость мытья жалюзи</td>
                            <td> за 1м²</td>
                            <td> от 200 руб.</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- froze -->
            <h3 class="list-works__smalltitle">Перед работой, сотрудник замеряет окна и называет Вам точную стоимость. В мытьё окон входит:</h3>
            <div class="list-works__froze">
                <p>— Мытьё внешнего и внутреннего подоконника</p>
                <p>— Мытьё откосов и рам снаружи и внутри</p>
                <p>— Мытьё стёкол с двух сторон</p>
                <p>— Очистка межрамного пространства, пароочистителем</p>
            </div>
            <span class="list-works__dop">Стоимость мойки деревянных окон старого образца с раскручиванием рам от 600 рублей за 1м².
                При удалении сильных загрязнений: скотча, плёнки, клея, застаревших загрязнений; стоимость увеличивается на 10-50%.</span>
        </div>
    </div>
</div>