.backcall {
    background-color: #F5F5F5;
    position: relative;
    .circle {
        width: 100px;
        height: 100px;
        top: 150px;
        right: initial;
        left: 100px;
    }
    .dirt {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        background-image: url(../img/main/backcall/dirt.svg);
        width: 930px;
        height: 930px;
        top: 0px;
        right: -200px;
    }
    &__content {
        padding-bottom: 200px;
        position: relative;
        z-index: 2;
        @media (max-width:600px) {
            padding-bottom: 50px;
        }
    }
    &__info {
        color: #353535;
        font-size: 18px;
        font-family: 'Muller',Arial,sans-serif;
        line-height: 1.4;
        font-weight: 400;
        margin: 10px 0 30px;
        @media (max-width:600px) {
            font-size: 14px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__btn {
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    input[type=number],input[type=name] {
        border: none;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        outline: none;
        font-family: 'Muller',Arial,sans-serif;
        font-size: 16px;
        font-weight: 400;
        &::placeholder {
            font-family: 'Muller',Arial,sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .checklabel {
        margin: 20px 0;
    }
    input[type=name] {
        padding: 0 20px;
    }
    //all page
    &_allpage {
        background-color: #f29304;
        padding-top: 100px;
        .title {
            color: white;
        }
        .backcall__info {
            color: white;
        }
        label {
            color: white;
        }
        .checkbox + label:before {
            border: 2px solid white;
        }
        .checkbox:checked + label::after {
            background-color: white;
        }
        .checkbox:checked + label {
            color: white;
        }
        .backcall__content {
            max-width: 890px;
        }
        .circle {
            filter: brightness(0) invert(1);
        }
        .dirt {
            filter: brightness(0) invert(1);
        }
        &:after {
            content: '';
            position: absolute;
            top:-70px;
            left: 0;
            background-image: url(../img/main/benefits/bottom.svg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 70px;
        }
        &:before {
            content: '';
            position: absolute;
            bottom:-70px;
            left: 0;
            background-image: url(../img/main/cleaning-process/top.svg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 70px;
        }
    }
}
.inplabel {
    color: #353535;
    font-weight: 400;
    font-family: 'Muller',sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
}