.cleaning-components {
    position: relative;
    background-color: #F5F5F5;
    .blot {
        position: absolute;
        background-image: url(../img/main/cleaning-components/dirt.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: -200px;
        top: 20%;
        width: 700px;
        height: 700px;
        filter: brightness(0) invert(1);
    }
    &__title {
        margin-bottom: 60px;
    }
    &__content {
        padding-top: 100px;
        position: relative;
        z-index: 2;
        padding-bottom: 200px;
        @media (max-width:600px) {
            padding: 50px 0 50px;
        }
    }
}
.tabs {
    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width:600px) {
            flex-direction: column;
        }
    }
    &__nav-elem {
        font-family: 'Muller',sans-serif;
        color: #353535;
        font-weight: 500;
        font-size: 18px;
        flex-grow: 1;
        padding-bottom: 18px;
        border-bottom: 2px solid #c4c4c4;
        transition: 0.3s ease;
        text-align: center;
        cursor: pointer;
        @media (max-width:600px) {
            font-size: 16px;
            padding-top: 18px;
            border: 2px solid #c4c4c4;
        }
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 16px;
        }
        &:first-child {
            text-align: left;
            @media (max-width:600px) {
                text-align: center;
            }
        }
        &:not(:first-child) {
            @media (max-width:600px) {
                border-top: 2px solid transparent;
            }
        }
        &.active {
            border-bottom: 2px solid #f29304;
            cursor: default;
            @media (max-width:600px) {
                background-color: white;
                border-bottom: 2px solid #f29304;
                font-weight: 600;
            }
        }
    }
    &__content {
        padding-top: 40px;
    }
    &__elem {
        display: none;
        justify-content: space-between;
        @media (max-width:600px) {
            flex-direction: column;
            align-items: center;
        }
        @media (min-width:601px) and (max-width:1099px) {
            flex-direction: column;
            align-items: center;
        }
        &.active {
            display: flex;
        }
    }
    &__img {
        width: 560px;
        height: 388px;
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width:600px) {
            max-width: 90%;
            height: 300px;
            margin-bottom: 20px;
        }
        @media (min-width:601px) and (max-width:1099px) { 
            margin-bottom: 30px;
        }
    }
    &__info {
        max-width: 600px;
        @media (max-width:600px) {
            max-width: 90%;
        }
        ul {
            list-style: url('../img/dot-orange.svg');
            li {
                color: #353535;
                font-size: 16px;
                font-family: 'Muller',Arial,sans-serif;
                line-height: 1.6;
                font-weight: 400;
                max-width: 550px;
                margin-bottom: 20px;
                @media (max-width:600px) {
                    font-size: 12px; 
                    max-width: 90%;
                    margin-bottom: 10px;
                }
                @media (min-width:601px) and (max-width:1099px) {
                    font-size: 14px;
                }
            }
        }
        p {
            color: #aaaaaa;
            font-size: 16px;
            font-family: 'Muller',Arial,sans-serif;
            line-height: 1.6;
            font-weight: 400;
            @media (max-width:600px) {
                font-size: 12px;
            }
            a {
                text-decoration: underline;
                color: #f29304;
                cursor: pointer;
                transition: 0.3s ease;
                &:hover {
                    opacity: 0.8;
                    text-decoration: none;
                }
            }
        }
    }
}