.employees {
    background-color: #F5F5F5;
    &__title {
        text-align: center;
        margin-bottom: 50px;
        @media (max-width:600px) {
            margin-bottom: 40px;
        }
    }
    &__content {
        padding-bottom: 200px;
        @media (max-width:600px) {
            padding-bottom: 50px;
        }
    }
}


.slider-employees {
    &__slide {
        border-radius: 10px;
    }
    &__img {
        background-size: cover;
        background-position: center;
        display: block;
        width: 260px;
        height: 260px;
        border-radius: 10px 10px 0 0;
        margin: 0 auto;
    }
    &__info {
        background-color: white;
        width: 260px;
        height: 87px;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
        padding: 18px 20px;
    }
    &__name {
        margin-bottom: 10px;
        font-family: 'Muller',Arial,sans-serif;
        font-weight: 600;
        color: #000;
        font-size: 16px;
        line-height: 1.35;
    }
    &__text {
        font-family: 'Muller',Arial,sans-serif;
        font-weight: 300;
        color: #000;
        font-size: 14px;
        line-height: 1.55;
    }
    //arrows
    .slick-arrow {
        width: 40px;
        height: 40px;
        border: 2px solid #ffffff;
        background-color: rgba(0,0,0,1);
        border-radius: 50%;
        z-index: 2;
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/arrow.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 5;
            width: 10px;
            height: 17px;
            top: 50%;
            left: 53%;
            transform: translate(-50%,-50%);
        }
    }
    .slick-prev {
        left: -60px;
        &:before {
            left: 47%;
            transform: translate(-50%,-50%) rotate(180deg);
        }
    }
    .slick-next {
        right: -60px;
    }
    .slick-dots li button{
        &:before {
            width: 8px;
            height: 8px;
            color: #c7c7c7;
            opacity: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 8px;
            transition: 0.3s ease;
        }
    }
    .slick-dots li {
        margin: 0;
    }
    .slick-dots li.slick-active button:before {
        color: rgba(242,147,4,1);
    }
}