.questions {
    background-color: #F5F5F5;
    &__content {
        padding-bottom: 200px;
        @media (max-width:600px) {
            padding-bottom: 50px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            padding-bottom: 100px;
        }
    }
    &__title {
        margin-bottom: 50px;
        @media (max-width:600px) {
            margin-bottom: 30px;
        }
    }
    &__grid {

    }
    &__elem {
        width: 100%;
        border-top: 2px solid #d4d4d4;
        &:last-child {
            border-bottom: 2px solid #d4d4d4;
        }
    }
    &__smalltitle {
        width: 100%;
        position: relative;
        font-size: 21px;
        font-weight: 500;
        font-family: 'Muller',sans-serif;
        color: black;
        padding: 30px 0;
        cursor: pointer;
        @media (max-width:600px) {
            font-size: 18px;
            padding-right: 40px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 18px;
            padding-right: 100px;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/plus.svg);
            background-size: 24px 24px;
            background-position: center;
            background-repeat: no-repeat;
            width: 40px;
            height: 40px;
            background-color: #F5F5F5;
            border-radius: 50%;
            transition: 0.3s ease;
        }
        &.active {
            &::after {
                transform: translateY(-50%) rotate(45deg);
            } 
        }
        &:hover {
            &::after {
                background-color: #f29304;
                background-image: url(../img/plus-white.svg);
            } 
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.55;
        font-family: 'Muller',sans-serif;
        margin-bottom: 20px;
        padding-right: 30px;
        color: #000;
        display: none;
        @media (max-width:600px) {
            font-size: 12px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 14px;
        }
    }
}