.reviews {
    background-color: #F5F5F5;
    &__title {
        margin-bottom: 60px;
    }
    &__content {
        padding-bottom: 200px;
    }
    &__grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__video {
        background-size: cover;
        width: 560px;
        height: 501px;
        position: relative;
    }
    &__videoplay {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 50px;
        height: 52px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20%;
        opacity: 0.7;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            opacity: 0.9;
        }
    }
    &__foto {
        display: flex;
        justify-content: space-between;
        width: 580px;
        &_in {
            display: flex;
            flex-direction: column;
        }
    }
    &__img {
        background-size: cover;
    }
    .img1 {
        width: 320px;
        height: 440px;
    }
    .img2 {
        width: 200px;
        height: 176px;
        margin-bottom: 40px;
    }
    .img3 {
        width: 200px;
        height: 218px;
    }
    &__link {
        width: 100%;
        text-align: right;
        margin-right: 50px;
        a {

        }
    }
}