.video-block {
    position: relative;
    background-color: #f29304;
    .circle_white {
        bottom: initial;
        top: 0px;
        right: 55%;
    }
    .circle_middle {
        bottom: initial;
        left: initial;
        top: 300px;
        right: -20px;
        width: 100px;
        height: 100px;
    }
    .circle_big {
        width: 400px;
        height: 400px;
        bottom: initial;
        left: 40px;
        top: 600px;
        right: initial;
    }
    .wrapper {
        position: relative;
    }
    &__content {
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
        @media (max-width:600px) {
            padding: 50px 0;
        }
    }
    &__title {
        color: white;
        max-width: 800px;
    }
    &__info {
        position: absolute;
        right: 0px;
        top: 110px;
        color: #ffffff;
        font-size: 18px;
        font-family: 'Muller',Arial,sans-serif;
        line-height: 1.4;
        font-weight: 400;
        max-width: 330px;
        @media (max-width:600px) {
            position: relative;
            top: 20px;
            font-size: 14px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            position: relative;
            top: 20px;
        }
    }
    &__video {
        height: 641px;
        margin: 80px 0 50px;
        @media (max-width:600px) {
            margin: 50px 0 50px;
            height: 300px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            height: 400px;
        }
    }
    &__btn {
        margin: 0 auto;
    }
}