<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">ГЕНЕРАЛЬНАЯ УБОРКА ОФИСА</h1>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Генеральная уборка офисов, клининг помещений выполняется с использованием профессионального оборудования и качественных моющих средств с безвредным для здоровья составом. Качество оправдывает ожидания клиентов, поэтому они охотно заказывают у нас эту услугу. Беспорядок и грязь снижают производительность, так как создают дискомфорт и неразбериху. Постоянное поддержание чистоты специалистами поможет создать уютную рабочую атмосферу и установить безопасный и здоровый микроклимат.</span>
                <span>Цена работы доступна не только для крупных компаний, но и для представителей мелкого бизнеса. Мы обслуживаем множество офисов в Москве, и наши клиенты остаются довольны, так как им не нужно заниматься уборкой самостоятельно или содержать в штате соответствующего сотрудника, а это помогает экономить средства.</span>
                <p>Перечень услуг у нас широкий:</p>
                <ol>
                    <li>Вынос мусора;</li>
                    <li>Влажная уборка всех поверхностей – от столов до подоконников;</li>
                    <li>Чистка пола сухим и влажным методом;</li>
                    <li>Мытье дверей;</li>
                    <li>Очищение и дезинфекция фурнитуры, в том числе и выключателей;</li>
                    <li>Удаление пятен со стен, потолка и предметов;</li>
                    <li>Санитарная обработка оргтехники.</li>
                </ol>
                <p>Если в офисе установлена мягкая мебель, очистим и ее, а также – шторы, жалюзи и текстиль. Возможно мытье холодильника, как внутри, так и снаружи.</p>
                <h4>Как происходит уборка офиса</h4>
                <p>Клинер имеет в своем распоряжении необходимое оборудование и средства, способные справиться с любыми загрязнениями. Услугу оказываем оперативно, а время клининга сжато, и вам не придется корректировать свой рабочий процесс,  профессиональная техника работает почти бесшумно и поэтому не будет мешать.</p>
                <p>Наша компания может выполнять уборку на постоянной основе, специалисты готовы приезжать в назначенное время. После оценки качества с нами можно заключить договор. Не нужно беспокоиться о том, что моющие средства могут вызвать аллергию у находящихся в офисе, так как все препараты сертифицированы и экологически чисты.</p>
                <p>По заказу мы можем проводить не только генеральную уборку офиса, но и ежедневную, чтобы в коммерческом помещении всегда поддерживалась чистота.</p>
                <h4>Почему вы не пожалеете, заказав уборку у нас</h4>
                <p>Клининговая компания содержит в своем штате квалифицированный персонал, который несет ответственность за свою работу. Оплата вносится по факту, после оценки результатов уборки. Наша компания владеет инновационными технологиями, обеспечивающими высокую эффективность, и решает задачи любой сложности. Выезд специалистов возможен после корпоративов и всевозможных ЧП. Сделать заказ можно заранее и в оперативном режиме.</p>
                <p>Подробный перечень мероприятий с нами можно обсудить в индивидуальном порядке, так как мы ориентируемся на пожелания клиентов, а их выполнение будет строго проверяться руководителем. Замечания принимаются адекватно, а их причины устраняются.</p>
                <p>Подать заявку на обслуживание и узнать стоимость услуг можно онлайн, или позвонив по телефону, номер которого вы найдете на сайте. Генеральная уборка офиса сделает ваше пребывание в нем комфортным и приятным.</p>
            </div>
            <!-- text end -->
            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Генеральная уборка офиса</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <p class="intro-uslugi__info">Генеральная уборка офиса длится примерно от 6 часов. Время уборки зависит от площади помещения и загрязнений.</p>
            </div>
        </div>
    </div>
</div>