//btn top
.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 20;
    display: none;
    @media (max-width:600px) {
        svg {
            width: 40px;
            height: 40px;
        }
    }
    &:hover {
        opacity: 1; 
    }
}

//btn-contact
.btn-contact {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: rgb(46, 76, 156);
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 20;
    @media (max-width:600px) {
        width: 32px;
        height: 32px;
    }
    //animate
    .flip-container {
        perspective: 1000;
    }
    @keyframes slidein {
        0% {
            transform: rotateY(0);
        }
        50% {
            transform: rotateY(180deg);
        }
        100% {
            transform: rotateY(0);
        }
    }  
    .flip-container .flipper, .flip-container.hover .flipper {
        animation-duration: 5s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    } 
    .flip-container, .front, .back {
        width: 64px;
        height: 64px;
        @media (max-width:600px) {
            width: 32px;
            height: 32px;
        }
    }
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 40px;
            height: 40px;
            fill: white;
            @media (max-width:600px) {
                width: 20px;
                height: 20px;
            }
        }
    }
    .back {
        transform: rotateY(180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 40px;
            height: 40px;
            fill: white;
            @media (max-width:600px) {
                width: 20px;
                height: 20px;
            }
        }
    }
    //animate-end

    //active
    &.active {
        .flip-container .flipper, .flip-container.hover .flipper {
            animation: none;
        }
        .front {
            svg {
                display: none;
            }
            background-image: url(../img/plus.svg);
            transform: rotate(45deg);
            background-position: center;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            filter: brightness(0) invert(1);
            @media (max-width:600px) {
                background-size: 10px 10px;
            }
        }
    }
    //active-end
    &__phone {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        // position: absolute;
        bottom: 160px;
        right: 0px;
        background-color: rgb(46, 76, 156);
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:600px) {
            width: 32px;
            height: 32px;
        }
        svg {
            width: 40px;
            height: 40px;
            fill: white;
            @media (max-width:600px) {
                width: 20px;
                height: 20px;
            }
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__whatsapp {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        // position: absolute;
        bottom: 80px;
        right: 0px;
        background-color: rgb(37, 211, 101);
        cursor: pointer;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        @media (max-width:600px) {
            width: 32px;
            height: 32px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        svg {
            width: 40px;
            height: 40px;
            fill: white;
            @media (max-width:600px) {
                width: 20px;
                height: 20px;
            }
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__hidden {
        display: none;
        position: absolute;
        bottom: 75px;
        @media (max-width:600px) {
            bottom: 20px;
        }
    }
}
.fancybox__content {
    padding: 0;
}

.b24-form-header-title {
    color: #353535 !important;
    font-size: 48px !important;
    font-family: 'Muller',Arial,sans-serif !important;
    line-height: 1.3 !important;
    font-weight: 500 !important;
    @media (max-width:600px) {
        font-size: 28px !important;
    }
    @media (min-width:601px) and (max-width:1099px) {
        font-size: 36px !important;
    }
}
.b24-form-sign-text {
    display: none;
}
.b24-form-sign-bx {
    display: none;
}
.b24-form-sign-24 {
    display: none;
}
