.header {
    width: 100%;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    &__logo {

    }
    &__nav {

    }
    &__soc {

    }
    &__number {

    }
}
