.header {
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.5);
    z-index: 10;
    position: relative;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    &__logo {

    }
    &__nav {
        
    }
    &__soc {

    }
    &__number {

    }
}
