.stock {
    width: 100%;
    background-color: #f29304;
    transition: 0.3s ease;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 130px;
        color: white;
    }
    &__title {
        font-size: 48px;
        font-family: 'Muller',Arial,sans-serif;
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__info {
        p {
            font-size: 24px;
            font-family: 'Muller',Arial,sans-serif;
            line-height: 1.4;
            font-weight: 400;
        }
    }
    &__btn {
        margin-right: 20px;
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    &.not-active {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }
}