.animate {
    width: 200px;
    height: 200px;
    background-image: url(../img/main/intro/spray.svg);
    background-position: center;
    background-size: 45px 73px;
    background-repeat: no-repeat;
    &__text {
        display: block;
        background-image: url(../img/main/intro/circle-text.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size: contain;
        animation: 1s linear 0s normal none infinite running rot;
        -webkit-animation: 10s linear 0s normal none infinite running rot;
        @keyframes rot {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        @-webkit-keyframes rot {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}