.logo {
    display: block;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 70px;
}