.nav {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Muller',sans-serif;
    text-transform: uppercase;
    width: 688px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: relative;
    @media (max-width:1099px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
    &__elem {
        color: #353535;
        padding: 0 35px;
        transition: 0.3s ease;
        position: relative;
        cursor: pointer;
        @media (max-width:1099px) {
            padding: 0;
            &:not(:last-child) {
                padding-bottom: 50px;
            }
        }
        &:hover {
            color: #f29304;
        }
        span {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 3px 0 3px;
            position: absolute;
            top: 35%;
            right: 20px;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            border-color: transparent transparent transparent transparent;
            border-top-color: #353535;
            @media (max-width:1099px) {
                display: none;
            }
        }
        &.active {
            color: #f29304;
            font-weight: 600;
        }
    }
    &__drop {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50px;
        background-color: white;
        padding: 18px 20px;
        max-width: 300px;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
        -webkit-font-smoothing: antialiased;
        transition: 0.3s ease;
        z-index: 2;
        //invisible styles
        transition: 0.3s ease;
        opacity: 0;
        pointer-events: none;
        &.active {
            opacity: 1;
            pointer-events: auto; 
        }
        &-elem {
            margin-bottom: 12px;
            color: #353535;
            font-size: 12px;
            font-weight: 400;
            font-family: 'Muller';
            text-transform: uppercase;
            transition: 0.3s ease;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0px;
            }
            &:hover {
                color: #f29304;
            }
            &.active {
                color: #f29304;
                font-weight: 600;
            }
        }
    }
}