<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">Уборка квартир после пожара</h1>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Если в вашем жилье произошло ЧП и огонь превратил его в склад непотреба, то вам необходима уборка квартир после пожара, цена в Москве на которую зависит от объема работ. Проведение таких мероприятий своими силами лишено смысла: для достижения положительного результата потребуется специальное оборудование, а для устранения копоти и запаха гари – мощные препараты.</span>
                <span>Специалисты нашей клининговой компании, выезжая на такие объекты, видят, что жильцы пытались справиться самостоятельно, но достичь ожидаемого так и не смогли. Причина заключается в отсутствии опыта и профессиональных средств. Чистка требуется основательная, так как за ней следует ремонт.</span>
                <p>Наши специалисты оказывают следующие услуги:</p>
                <ul>
                    <li>Вынос мусора: остатков мебели, конструкций, декоративных покрытий стен и пола;</li>
                    <li>Удаление с поверхностей сажи;</li>
                    <li>Химчистка уцелевших изделий из текстиля;</li>
                    <li>Установка предметов на места, если позволяет состояние помещения.</li>
                </ul>
                <p>Стоимость работ, в которые могут входить озонация и дезодорация, у нас доступна для большинства, и она намного ниже тех расходов, которые придется нести на восстановление здоровья. Ошибки во время ликвидации последствий возгораний приводят к обрушению конструкций, отравлениям с поражением дыхательной системы.</p>
                <p>Уборка квартир после пожара в москве выполняется профессионалами, которые используют средства защиты. У клинеров имеется спецодежда, респираторы, и другие СИЗы.</p>
                <h4>Что делать жильцам после пожара</h4>
                <p>Если в вашем доме случился пожар, не торопитесь выбрасывать вещи, так как их можно восстановить с помощью специальных средств, и это обойдется недорого. Лучше сразу обращайтесь к нам, и специалисты проведут качественный и детальный осмотр, по результатам которого вы сделаете разумные выводы.</p>
                <p>По возможности покиньте помещение до приезда представителей нашей компании, а, когда они закончат свою работу, оцените ее и приступайте к подготовке к ремонту. После уборки вам откроется реальная картина, и вам будет проще составить смету реконструкции жилья и определить последующие действия. Обратиться к нам вы можете онлайн.</p>
                <h4>Преимущества выполнения уборки квартиры нами</h4>
                <p>Сотрудники нашей компании имеют многолетний опыт, определяющий остальные плюсы:</p>
                <ul>
                    <li>На вызовы выезжаем срочно;</li>
                    <li>Имеем при себе все необходимое оборудование;</li>
                    <li>Моющие средства эффективны и сертифицированы;</li>
                    <li>Работаем оперативно;</li>
                    <li>Владеем инновационными технологиями в области клининга.</li>
                </ul>
                <p>Уборка квартиры после пожара обычно выполняется во всех комнатах, даже если возгорание произошло на незначительном участке. Тем самым ликвидируются слои копоти и гари, которые появляются даже на участках, удаленных от очага. Москва – большой город, и пожары в нем случаются часто, поэтому в том, что наши сотрудники успешно действуют по отработанной годами схеме, не сомневайтесь.</p>
                <p>Профессиональная уборка квартиры после пожара – половина успеха к восстановлению жилья, и воспользоваться услугами по доступной цене рекомендуем всем тем, кто столкнулся с проблемой.</p>
            </div>
            <!-- text end -->
            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Генеральная уборка офиса</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <p class="intro-uslugi__info">Генеральная уборка офиса длится примерно от 6 часов. Время уборки зависит от площади помещения и загрязнений.</p>
            </div>
        </div>
    </div>
</div>