<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">УБОРКА КУХНИ</h1>

            <!-- text -->
            <div class="intro-uslugi__doptext">
                <h4>Описание:</h4>
                <p>Как бы странно не звучало, но кухня является тем местом, в котором накапливается большое количество пыли и жировых пятен. В зависимости от их количества варьируется время по уборке. Мы предоставляем услуги профессионалов в данном направлении и готовы предоставить вам доступные цены.</p>
                <p>Места, которые больше всего подвергаются загрязнению:</p>
                <ul>
                    <li>Плита. Накапливает на себе остатки пищи, подгорелые частички, которые отмываются крайне сложно.</li>
                    <li>Вытяжка. Имеет жировые пятна и блеск. Решетка теряет внешний вид за пару месяцев применения, покрывается пылью и жиром.</li>
                    <li>Подоконник. Может впитывать запахи, в зависимости от материала.</li>
                    <li>Шкафы набирают пыль постепенно, но если не протирать периодически, то данная категория не станет проблемой.</li>
                </ul>
                <h4>Когда стоит заказать услугу</h4>
                <p>Генеральная уборка кухни позволяет вам содержать в чистоте самое важное место в доме, при этом вы не потратите личное время и силы. Проводить тщательную уборку на кухне необходимо один раз в месяц, таким образом вы получите чистое помещение.</p>
                <p>Клининг включает в себя:</p>
                <ul>
                    <li>Протирание пыли всех поверхностей.</li>
                    <li>Мытье стен и потолков.</li>
                    <li>Очистка шкафов и решеток для вентиляции.</li>
                    <li>Мытье полов.</li>
                </ul>
                <p>Таким образом вы получаете только гарантированное качество.</p>
                <h4>Что предоставляет наша компания</h4>
                <p>Компания "Домачисто" предоставляет квалифицированные услуги в области клининга. Мы имеем большой опыт, благодаря чему:</p>
                <ul>
                    <li>мы гарантируем качество выполненных работ;</li>
                    <li>предоставляем низкие цены на полный спектр услуг;</li>
                    <li>индивидуальный подход к каждому клиенту.</li>
                    <li>оптимальное ценообразование.</li>
                </ul>
                <p>Для предоставления услуги, от вас потребуется подать заявку онлайн на сайте или по указанному телефону. После этого:</p>
                <ol>
                    <li>Наш специалист составляет акт.</li>
                    <li>Мы предоставляем дату и сроки уборки.</li>
                    <li>Наши специалисты выезжают для предоставления клининговых услуг.</li>
                </ol>
                <p>Клининг кухни в Москве по низкой цене доступен в нашей компании Домачисто. Мы гарантируем вам предоставление только качественных услуг в оговоренные сроки. не стоит стараться самостоятельно решить подобные проблемы, с этими задачами справляются профессионалы!</p>
            </div>
            <!-- text end -->

            <div class="intro-uslugi__table">

                <table> 
                    <thead>
                        <tr>
                            <th>Перечень работ</th>
                            <th> Уборка кухни</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (освобождаем, вымываем, складываем обратно)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>