<div class="additional">
    <div class="wrapper">
        <div class="additional__content">
            <h2 class="additional__title title">Дополнительные услуги</h2>
            <div class="additional__grid">

                <div class="card-additional">
                    <h3 class="card-additional__title">Мойка вытяжки</h3>
                    <p class="card-additional__info">Мойка вытяжки внутри (снятие и отмывка сеток, отмывка посадочных мест под сетки)</p>
                    <span class="card-additional__price">от 400₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Посудомоечная машина</h3>
                    <p class="card-additional__info">Чистка посудомоечной машины</p>
                    <span class="card-additional__price">от 400₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Стиральная машина</h3>
                    <p class="card-additional__info">Чистка лотка и уплотнителя люка</p>
                    <span class="card-additional__price">от 400₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Очистка швов</h3>
                    <p class="card-additional__info">Очистка швов на различных поверхностях</p>
                    <span class="card-additional__price">от 1000₽</span>
                </div>
                
                <div class="card-additional">
                    <h3 class="card-additional__title">Обеспыливание штор</h3>
                    <p class="card-additional__info">Сухая чистка штор от пыли на месте, не снимая</p>
                    <span class="card-additional__price">от 500₽ за окно</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Химчистка штор</h3>
                    <p class="card-additional__info">Снятие, стирка, глажка и вывешивание штор, а также химчистка на весу без снятия</p>
                    <span class="card-additional__price">от 1500₽ за окно</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Мойка потолка</h3>
                    <p class="card-additional__info">Мойка потолка от загрязнений</p>
                    <span class="card-additional__price">от 30₽ за м2</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Мойка стен и потолка на балконе</h3>
                    <p class="card-additional__info">Помоем стены и потолок на балконе от любых загрязнений</p>
                    <span class="card-additional__price">1000-2000₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Очистка сеток (фильтра) кондиционера</h3>
                    <p class="card-additional__info"></p>
                    <span class="card-additional__price">От 500₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Уборка кухни</h3>
                    <p class="card-additional__info">Уборка полностью всей кухни</p>
                    <span class="card-additional__price">От 5000₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Уборка санузла</h3>
                    <p class="card-additional__info">Уборка полностью всего санузла</p>
                    <span class="card-additional__price">5000₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Уборка раздельного санузла</h3>
                    <p class="card-additional__info"></p>
                    <span class="card-additional__price">6000₽</span>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Уборка офисов</h3>
                    <p class="card-additional__info">Расчёт по телефону</p>
                    <a data-fancybox="popupcall" data-src="#popup-backcall" class="card-additional__btn btn">Рассчитать стоимость</a>
                </div>

                <div class="card-additional">
                    <h3 class="card-additional__title">Очистка плитки от эпоксидной затирки</h3>
                    <p class="card-additional__info">Расчёт по телефону</p>
                    <a data-fancybox="popupcall" data-src="#popup-backcall" class="card-additional__btn btn">Рассчитать стоимость</a>
                </div>

            </div>

            <div class="additional__delivery">
                <h3 class="additional__smalltitle">Мы всегда привозим с собой на уборку:</h3>
                <div class="additional__list">
                    <p>— Пылесос и пароочиститель</p>
                    <p>— Инвентарь для уборки</p>
                    <p>— Химические средства</p>
                    <p>— Стремянки</p>
                    <p>— Инвентарь для мойки окон</p>
                    <p>— Чистые тряпочки</p>
                </div>
                <span class="additional__dop">Для уборки используется оборудование Karcher и чистящие средства фирмы Effect (Россия).</span>
            </div>

        </div>
    </div>
</div>