<div class="approximate-cost">
    <div class="wrapper">
        <div class="approximate-cost__content">
            <h2 class="approximate-cost__title">Примерная цена стоимости мытья различных типов окон</h2>
            <p class="approximate-cost__info">Из расчета за 1м² = 400 руб.</p>

            <div class="approximate-cost__grid">
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/1.svg); width: 190px; height: 228px;"></a>
                    <p class="approximate-cost__price">1 створка — 500 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/2.svg); width: 235px; height: 228px;"></a>
                    <p class="approximate-cost__price">1 створка с фрамугой — 1000 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/3.svg); width: 235px; height: 228px;"></a>
                    <p class="approximate-cost__price">2 створки — 1000 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/4.svg); width: 235px; height: 228px;"></a>
                    <p class="approximate-cost__price">2 створки с фрамугой — 1000 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/5.svg); width: 340px; height: 227px;"></a>
                    <p class="approximate-cost__price">3 створки — 1500 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/6.svg); width: 340px; height: 227px;"></a>
                    <p class="approximate-cost__price">3 створки с форточками — 1500 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/7.svg); width: 365px; height: 346px;"></a>
                    <p class="approximate-cost__price">4 створки балкон — 2000 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/8.svg); width: 105px; height: 346px;"></a>
                    <p class="approximate-cost__price">1 балконная дверь (стекло) — 600 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/9.svg); width: 105px; height: 346px;"></a>
                    <p class="approximate-cost__price">1 балконная дверь — 600 руб.</p>
                </div>
                <div class="approximate-cost__elem">
                    <a class="approximate-cost__img" style="background-image: url(img/prices/window/10.svg); width: 105px; height: 346px;"></a>
                    <p class="approximate-cost__price">1 балконная дверь с фрамугой — 600 руб.</p>
                </div>
            </div>

        </div>
    </div>
</div>