<div class="list-works">
    <div class="wrapper">
        <div class="list-works__content">
            <h2 class="list-works__title title">Полный перечень работ входящих в генеральную уборку и уборку после ремонта</h2>

            <div class="questions__grid list-works__grid">

                <div class="questions__elem list-works__elem">
                    <h4 class="questions__smalltitle" data-target="#questions1">В кухне</h4>
                    <div class="questions__text" id="questions1">
                        <ul>
                            <li>Сухая очистка стен от пыли, паутины и т.д</li>
                            <li>Очистка розеток и выключателей</li>
                            <li>Влажная уборка подоконников</li>
                            <li>Мойка люстр (за искл.: хрустальных,требующих снятия, сложной конструкции)</li>
                            <li>Мойка карнизов, кондиционеров, гардин</li>
                            <li>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</li>
                            <li>Мойка фасадов кухонного гарнитура</li>
                            <li>Мойка кухонных шкафчиков внутри (при пустых полках)</li>
                            <li>Мойка стеновых панелей «фартука»</li>
                            <li>Мойка кухонной плиты снаружи</li>
                            <li>Чистка и дезинфекция сантехники</li>
                            <li>Чистка кухонных рабочих поверхностей</li>
                            <li>Мойка дверных блоков, включая фурнитуру</li>
                            <li>Чистка радиаторов отопления пароочистителем</li>
                            <li>Мойка кухонного гарнитура сверху</li>
                            <li>ПОСУДУ до 30 мин бесплатно</li>
                            <li>Дезинфекция мест хранения мусора, замена пакета</li>
                            <li>Мойка напольного покрытия под кухонным гарнитуром</li>
                            <li>Влажная уборка полов и плинтусов</li>
                            <li>Сухая очистка потолка от пыли, паутины и т.д</li>
                        </ul>
                    </div>
                </div>

                <div class="questions__elem list-works__elem">
                    <h4 class="questions__smalltitle" data-target="#questions2">В комнатах</h4>
                    <div class="questions__text" id="questions2">
                        <ul>
                            <li>Сухая очистка стен от пыли, паутины и т.д</li>
                            <li>Очистка розеток и выключателей</li>
                            <li>Влажная уборка подоконников</li>
                            <li>Мойка люстр (за искл.: хрустальных,требующих снятия, сложной конструкции)</li>
                            <li>Мойка карнизов, кондиционеров, гардин</li>
                            <li>Мойка фасадов шкафов, а также внутри (при пустых полках)</li>
                            <li>Удаление пыли с бытовой техники</li>
                            <li>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</li>
                            <li>Сухая чистка мягкой мебели пылесосом</li>
                            <li>Мойка зеркал и стеклянных поверхностей (4м2)</li>
                            <li>Замена постельного белья по требованию</li>
                            <li>Замена пакетов в мусорных корзинах</li>
                            <li>Мойка дверных блоков, включая фурнитуру</li>
                            <li>Чистка радиаторов отопления пароочистителем</li>
                            <li>Удаление средних и сильных загрязнений</li>
                            <li>Очистка полов пылесосом</li>
                            <li>Влажная уборка полов и плинтусов</li>
                            <li>Сухая очистка потолка от пыли, паутины и т.д</li>
                        </ul>
                    </div>
                </div>

                <div class="questions__elem list-works__elem">
                    <h4 class="questions__smalltitle" data-target="#questions3">В санузлах</h4>
                    <div class="questions__text" id="questions3">
                        <ul>
                            <li>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</li>
                            <li>Чистка и дезинфекция всей сантехники</li>
                            <li>Удаление сложных загрязнений душевых кабин и ванн</li>
                            <li>Очистка коллекторного узла пароочистителем</li>
                            <li>Мойка фасадов шкафов, а также внутри (при пустых полках)</li>
                            <li>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</li>
                            <li>Мойка дверных блоков, включая фурнитуру</li>
                            <li>Влажная уборка полов</li>
                            <li>Сухая очистка потолка от пыли, паутины и т.д</li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- window -->
            <h2 class="list-works__title title list-works__title_window">Мойка окон</h2>
            <p class="list-works__info">
                Стоимость мойки окон рассчитывается по площади остекления. <br>
                Как определяется площадь окон: ширина оконного проёма умножается на высоту оконного проёма
            </p>
            <div class="list-works__table intro-prices__table">

                <table> 
                    <tbody>
                        <tr>
                            <td>Стоимость мойки окон</td>
                            <td> за 1м²</td>
                            <td> от 400 руб.</td>
                        </tr>
                        <tr>
                            <td>Стоимость мытья москитной сетки</td>
                            <td> за 1шт.</td>
                            <td> от 150 руб.</td>
                        </tr>
                        <tr>
                            <td>Стоимость мытья жалюзи</td>
                            <td> за 1м²</td>
                            <td> от 200 руб.</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- froze -->
            <h3 class="list-works__smalltitle">Перед работой, сотрудник замеряет окна и называет Вам точную стоимость. В мытьё окон входит:</h3>
            <div class="list-works__froze">
                <p>— Мытьё внешнего и внутреннего подоконника</p>
                <p>— Мытьё откосов и рам снаружи и внутри</p>
                <p>— Мытьё стёкол с двух сторон</p>
                <p>— Очистка межрамного пространства, пароочистителем</p>
            </div>
            <span class="list-works__dop">Стоимость мойки деревянных окон старого образца с раскручиванием рам от 600 рублей за 1м².
                При удалении сильных загрязнений: скотча, плёнки, клея, застаревших загрязнений; стоимость увеличивается на 10-50%.</span>
        </div>
    </div>
</div>