<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">Уборка квартир</h1>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Уборка квартиры в Москве цены наша клининговая компания установила конкурентоспособные. Это означает, что обратиться за такими услугами может каждый желающий. Наведение чистоты требует много времени, а его всегда не хватает. Наши специалисты работают для того, чтобы облегчить вам задачи по уходу за жильем.</span>
                <p>В последнее время спрос на клининг вырос. Это связано с тем, что люди заняты заработком денег и не уделяют домашним делам столько внимания, сколько требуется, поэтому и делают заказы у нас. А ведь чистота в помещении важна по нескольким причинам:</p>
                <ul>
                    <li>Эстетичность. Приглашать гостей в дом, где не убрано, считается правилом дурного тона;</li>
                    <li>Порядок. Когда все вещи лежат на своих местах, не приходится напрягаться с их поиском;</li>
                    <li>Комфорт. Хаос в доме не дает возможности ощущать гармонию с собой и окружающим пространством;</li>
                    <li>Здоровье. Пыль приводит к аллергии и другим заболеваниям.</li>
                </ul>
                <p>Наша служба занимается созданием уюта в жилье, работа выполняется в короткие сроки. На вызовы менеджеры реагируют оперативно, и, став нашим клиентом, вы ощутите преимущества качественной и недорогой уборки. Вы получите гарантию качества, так как нами используются эффективные моющие средства и мощное оборудование.</p>
                <h4>Плюсы уборки квартиры профессионалами</h4>
                <p>Цена уборки квартиры в Москве позволяет обращаться к нам регулярно, выполняются работы сотрудниками с большим опытом. Вы можете быть уверены в том, что в вашем помещении установится идеальная чистота. Клинеры справляются с загрязнениями любой сложности, что позволяют эффективные препараты: их состав безопасен для здоровья людей и животных. Проводится как текущая, так и генеральная уборка. Стоимость рассчитывается, исходя из объема комнат, их исходного состояния, степени сложности, используемого оборудования.</p>
                <p>Предоставляются такие услуги:</p>
                <ul>
                    <li>Вынос мусора;</li>
                    <li>Удаление пыли с поверхности и всех предметов декора и интерьера;</li>
                    <li>Чистка осветительных приборов;</li>
                    <li>Мойка полов и стен (при необходимости);</li>
                    <li>Мойка сантехники;</li>
                    <li>Очистка ковров и текстиля.</li>
                </ul>
                <p>Во время генеральной уборки моются окна, и эта процедура обходится заказчикам недорого. Специалистов долго ждать не приходится: они выезжают срочно, а уборку квартир выполняют в оговоренные сроки.</p>
                <h4>Какой может быть уборка квартир</h4>
                <p>Помимо двух основных видов уборки – ежедневного и генерального, мы проводим специфическую работу: наводим порядок после пожаров, затоплений, выполняем дезинфекцию перед рождением ребенка и многое другое. Несмотря на вид услуг, все они предоставляются качественно.</p>
                <p>В нашу клининговую компанию обращаются все категории населения, так как мы практикуем индивидуальный подход и оперативность, устанавливаем реальные цены. Расчет производится по факту выполнения заказа и оценки результата. После отъезда наших сотрудников в вашем доме установится здоровый микроклимат.</p>
                <p>Если вы хотите, чтобы в вашем жилье было идеально чисто, оставляйте заявку онлайн, и мы выполним уборку квартиры в соответствии с вашими ожиданиями.</p>
            </div>
            <!-- text end -->
            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Генеральная уборка офиса</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <p class="intro-uslugi__info">Генеральная уборка офиса длится примерно от 6 часов. Время уборки зависит от площади помещения и загрязнений.</p>
            </div>
        </div>
    </div>
</div>