.intro-uslugi {
    background-color: #F5F5F5;
    &__content {
        padding: 150px 0 0;
        @media (max-width:600px) {
            padding-top: 50px;
        }
    }
    &__title {
        color: #353535;
        font-size: 58px;
        font-weight: 700;
        font-family: 'Muller';
        margin-bottom: 100px;
        line-height: 1.17;
        text-align: center;
        @media (max-width:600px) {
            margin-bottom: 30px;
            font-size: 32px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            margin-bottom: 50px;
            font-size: 42px;
        }
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        height: 47px;
        border-radius: 50px;
        border: 1px solid #f29304;
        margin-bottom: 50px;
        overflow: hidden;
    }
    &__tab {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #f29304;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Muller',Arial,sans-serif;
        line-height: 1.35;
        transition: 0.3s ease;
        cursor: pointer;
        &:last-child {
            border-right: none;
        }
        &.active {
            background-color: #f29304;
            color: white;
            font-weight: 600;
            cursor: default;
        }
    }
    &__table {
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: auto;
            &.non-active {
                display: none;
            }
        }
        thead {
            
        }
        th {
            border-style: solid;
            border-width: 2px 2px 2px 2px;
            border-color: #f29304;
            color: #353535;
            font-size: 21px;
            font-family: 'Muller',sans-serif;
            font-weight: 500;
            padding: 30px;
            text-align: left;
            @media (max-width:600px) {
                font-size: 16px;
                padding: 10px;
            }
            @media (min-width:601px) and (max-width:1099px) {
                font-size: 18px;
                padding: 20px;
            }
        }
        td {
            border-width: 2px 2px;
            border-style: solid;
            vertical-align: top;
            border-color: #f29304;
            color: #353535;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Muller',sans-serif;
            padding: 30px;
            text-align: left;
            @media (max-width:600px) {
                font-size: 12px;
                padding: 10px;
            }
            @media (min-width:601px) and (max-width:1099px) {
                font-size: 14px;
                padding: 20px;
            }
        }
    }
    &__info {
        font-size: 16px;
        font-family: 'Muller',Arial,sans-serif;
        font-weight: 400;
        line-height: 1.55;
        margin-top: 30px;
        @media (max-width:600px) {
            font-size: 14px;
            margin-top: 20px;
        }
    }
}