<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title">УБОРКА ВАННОЙ И ТУАЛЕТА</h1>

            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Уборка ванной комнаты и туалета по цене, которая соизмерима с трудозатратами владельцев, выполняется нашей компанией качественно и в сжатые сроки. Несмотря на небольшие размеры этих помещений, времени для наведения в них чистоты хозяевам требуется много, так как довести до блеска надо каждый уголок. В труднодоступных местах скапливаются и размножаются грибки, а они могут стать причиной серьезных проблем со здоровьем, в том числе и аллергии.</span>
                <span>Наши сотрудники приводят санузел в порядок, применяя профессиональные препараты, не оставляющие вредным бактериям ни единого шанса. Используются промышленное оборудование и новые технологии. После нашей работы на предметах не останется ни ржавчины, ни налета, ни пятен. Будут удалены загрязнения за трубами, с потолка, из вентиляции. Компания работает на протяжении длительного времени, сотрудники обладают большим опытом, позволяющим за короткое время устранить проблемы в соответствии с вашими ожиданиями.</span>
                <p>В функции клинеров входят:</p>
                <ul>
                    <li>Мойка кафельной плитки от потолка до пола;</li>
                    <li>Дезинфекция сантехники;</li>
                    <li>Чистка пароочистителем коллекторного узла;</li>
                    <li>Мойка дверей;</li>
                    <li>Чистка потолков сухим способом.</li>
                </ul>
                <p>Стоимость на комплекс работ доступна, поэтому в Москве к нам обращаются заказчики даже с невысоким достатком.</p>
                <h4>Когда и кому требуется уборка ванной комнаты и туалета</h4>
                <p>Клининг ванная и туалет в Москве, цена которой приятно удивит, требуется если:</p>
                <ul>
                    <li>Удалить грязь в труднодоступных местах самостоятельно не получается;</li>
                    <li>У вас не хватает времени на поддержание идеальной чистоты (наши сотрудники выезжают на вызовы срочно, и время у них всегда есть);</li>
                    <li>Перед наступлением праздников;</li>
                    <li>Имеется желание порадовать родных.</li>
                </ul>
                <p>Поддерживать чистоту в служебных помещениях надо постоянно, и особенно это касается тех мест, где вы проводите гигиенические процедуры. Но даже самая хорошая хозяйка не сможет выполнить уборку в таком качестве, как профессионалы клининговой компании по причине отсутствия специальных приспособлений и невозможности добраться до каждого уголка. Уборка ванной и туалета усложняется наличием там большого количества коммуникаций, но для профессионалов это – не проблема.</p>
                <h4>Причины заказать уборку у нас</h4>
                <p>Работа сотрудников стоит недорого, и, потратив незначительную сумму средств, вы получите отличный результат. В помещении установится благоприятный микроклимат, а об эстетической стороне и говорить не приходится. Услуги мы оказываем как частным лицам, так и коммерческим компаниям, и при желании вы можете стать нашим постоянным клиентом.</p>
                <p>Дешево – не означает плохо, и мы готовы доказать это результатом своего труда. Вносить оплату вы будете после приема работ, убедившись в их качестве, а подать заявку предлагаем онлайн. Наши менеджеры оперативно реагируют на обращения.</p>
                <p>Обращайтесь к нам, и чистота в вашем доме будет поддерживаться постоянно. Уборка ванной комнаты и туалета сделает ваши ежедневные процедуры более приятными.</p>
            </div>
            <!-- text end -->

            <div class="intro-uslugi__table">

                <table> 
                    <thead>
                        <tr>
                            <th>Перечень работ</th>
                            <th>Уборка санузла</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри (освобождаем, вымываем, складываем обратно)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>