<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">УБОРКА КОТТЕДЖЕЙ</h1>

            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Уборка дома по доступной цене в Москве и области предоставляется от нашей компании. Мы готовы предложить нашим клиентам индивидуальный подход, лояльную ценовую политику и гарантию качества.</span>
                <h4>Описание:</h4>
                <p>Уборка дома состоит из нескольких этапов:</p>
                <ol>
                    <li>Сбор мусора. Это самый первый и важный шаг, обеспечивающий грамотный подход и положительный результат.</li>
                    <li>Выявление и удаление грязи на любых поверхностях. В зависимости от типа помещения: на кухне это плита, столешницы и прочее, в комнатах подоконники, в коридоре пол, в ванной и туалете сантехника. К данному типу грязи можно отнести жирные пятна, ржавчину и пр.</li>
                    <li>Протирание пыли. Мы выявляем все участки, которые накапливают большое количество пыли ежедневно. Это решетки, плинтуса, полки, шкафы. Двигаем мебель, протираем под ней. Обратите внимание, в простую уборку не входит чистка внутри мебели и бытовых приборов. Для этого имеется отдельная категория услуги, которая называется Генеральная уборка.</li>
                    <li>Протирание стен, дверей, оконных рам и полов.</li>
                </ol>
                <p>За четыре этапа вы получите чистую квартиру за короткий промежуток времени. При этом процессе клиент может присутствовать и контролировать деятельность, а может просто оставить ключи.</p>
                <h4>Особенности</h4>
                <p>Загородный дом и коттедж требует большего ухода, чем квартира. Это связано с несколькими факторами:</p>
                <ul>
                    <li>большое пространство;</li>
                    <li>покрытие стен требует определенного ухода, особенно если у вас коттедж из дерева;</li>
                    <li>наличие вентиляции требует повышенного ухода;</li>
                    <li>помещения под разные предназначения.</li>
                </ul>
                <p>Наша компания готова выполнить целый спектр работ, связанных с клинингом. При генеральной уборке, мы:</p>
                <ul>
                    <li>вынесем мусор;</li>
                    <li>протрем и отмоем все поверхности от жира, пятен, ржавчины;</li>
                    <li>проведем химчистку мягкой мебели и ковров;</li>
                    <li>обработаем необходимыми средствами кожаные поверхности;</li>
                    <li>отодвинем мебель для устранения грязи;</li>
                    <li>вымоем двери и окна со всех сторон.</li>
                </ul>
                <h4>Почему мы</h4>
                <p>Компания "Домачисто" предоставляет квалифицированные услуги в клининговом направлении. Наш персонал проходит обучение и получает необходимые знания, что позволяет проводить качественную уборку в любых условиях.</p>
                <p>У нас имеется современное и технологичное оборудование, которое справляется с большинством проблем. Мы заказываем только проверенные средства, позволяющие без царапин и повреждений убирать пятна с различных поверхностей. Каждый препарат не нанесет вреда домашним питомцам и не вызовет аллергических реакций.</p>
                <p>Уборку коттеджа по доступной цене в Москве под ключ можно заказать в нашей клининговой компании. Мы предоставляем широкий спектр услуг в короткие сроки.</p>
            </div>
            <!-- text end -->

            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>