<div class="clining-else">
    <div class="wrapper">
        <div class="clining-else__content">

            <div class="clining-else__info">
                <h2 class="clining-else__title clining-else__title_big title">Уборка квартиры после ремонта нужна, если:</h2>
                <div class="clining-else__list">
                    <ul>
                        <li>У Вас накопилось много грязи, а самостоятельно справиться тяжело</li>
                        <li>Вы арендуете квартиру и нужна уборка после прежних хозяев</li>
                        <li>Вам требуется сезонная генеральная уборка после осени и весны</li>
                        <li>Вы желаете встретить Новый год в чистой квартире</li>
                        <li>Вы хотите сделать подарок родителям, жене или близкому человеку</li>
                        <li>Вы круглые сутки находитесь на работе, а на уборку совсем нету времени</li>
                    </ul>
                </div>
            </div>

            <a class="clining-else__img" style="background-image: url(img/uslugi/else/1.jpg);"></a>

        </div>
    </div>
</div>