<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title">УБОРКА КВАРТИРЫ ПОСЛЕ РЕМОНТА</h1>

            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Уборка квартиры после ремонта в Москве по низкой цене доступна в нашей компании. Мы предоставляем широкий спектр услуг, выполняемых в сжатые сроки.</span>
                <h4>Описание:</h4>
                <p>Ремонтные работы в квартирах происходят достаточно часто. Кто-то хочет поменять обои, покрасить потолки или положить пол для обустройства новой квартиры, а кто-то просто желает сменить интерьер. При этом, довольно часто для выполнения ремонтных работ приглашаются специалисты, которые могут выполнить работы качественно, но не аккуратно. Оставив за собой мусор и другие последствия.</p>
                <p>Тогда на помощь приходим мы. Безусловно, вы можете справиться самостоятельно, но у вас на это уйдет большое количество времени, сил и денежных средств на приобретение необходимых средств. А при обращении в клининговую компанию вы получите:</p>
                <ul>
                    <li>качественно выполненную уборку;</li>
                    <li>четкое соблюдение сроков;</li>
                    <li>применение только безопасных средств.</li>
                </ul>
                <p>Какая грязь остается после ремонта</p>
                <p>После ремонтных работ в квартире или доме появляется:</p>
                <ul>
                    <li>Строительная пыль. Она очень вредна для взрослых, детей и даже домашних животных.Убирается при помощи специального оборудования и препаратов.</li>
                    <li>Краска. Самый сложный тип пятен. Удаляется при помощи разных способов в зависимости от типа поверхности.</li>
                    <li>Мусор. Строительный мусор остается всегда, его вынесут наши специалисты.</li>
                </ul>
                <p>Мы гарантируем вам выполнение всех работ качественно и в срок. Не стоит отказываться от профессиональной помощи.</p>
                <h4>Преимущества обращения к нам</h4>
                <p>Наша компания имеет большой опыт в данном направлении. Мы готовы предоставить своим клиентам:</p>
                <ul>
                    <li>индивидуальный подход;</li>
                    <li>быстрое выполнение работ;</li>
                    <li>применение только экологичных и безопасных препаратов;</li>
                    <li>оптимальное ценообразование.</li>
                </ul>
                <p>Мы используем современное оборудование и препараты, которые прошли проверки и получили необходимые сертификаты качества. Мы не оставляем царапин при выведении пятен любой сложности и избавляем вас от проблем, которые могут возникнуть из-за строительной пыли.</p>
                <h4>Как мы работаем</h4>
                <p>"Домачисто" предлагает вам в короткие сроки уборку квартир и домов после ремонта. Для этого, вам необходимо оставить заявку. Можно воспользоваться удобным способом: позвонить по телефону или оставить заявку онлайн на официальном сайте. После этого:</p>
                <ol>
                    <li>Мы перезвоним вам и обговорим сроки.</li>
                    <li>Произведем услуги в оговоренный промежуток времени.</li>
                </ol>
                <p>Услуги по уборке квартир после ремонта в Москве по низким ценам доступны в нашей компании. Мы являемся профессионалами и имеем большой опыт работы в данном направлении. Звоните прямо сейчас!</p>
            </div>
            <!-- text end -->
            
            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>