<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">Уборка коттеджа после ремонта</h1>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Уборка квартиры перед рождением ребенка выполняется нами профессионально, поэтому, когда вы вместе со своим малышом переступите порог своего дома, в нем не останется ни пылинки. Для младенца важна стерильность, и, понимая это, родители заказывают такую услугу в Москве. А почему бы и нет? Стоимость ее доступна, а гарантия качества обеспечивается стопроцентная, и предыдущие наши клиенты в этом убедились.</span>
                <p>У каждой клининговой компании есть свой алгоритм уборки, имеется он и у нас. Для наведения идеальной чистоты мы используем специальное оборудование и эффективные, но экологически безопасные, препараты. Проводить такие мероприятия желательно за день до выписки из роддома, чтобы в помещении не успели накопиться бактерии.</p>
                <p>Комплекс услуг включает в себя:</p>
                <ul>
                    <li>Вынос мусора;</li>
                    <li>Чистку всех предметов в доме;</li>
                    <li>Дезинфекцию постельных принадлежностей и текстиля;</li>
                    <li>Мытье окон, рам, подоконников и радиаторов;</li>
                    <li>Химчистку ковров;</li>
                    <li>Обеззараживание стен и потолков;</li>
                    <li>Мойку светильников, бытовых приборов и оргтехники;</li>
                </ul>
                <p>Ванная комната, кухня и другие служебные помещения требуют особого внимания, и там проводится чистка кафеля, сантехники, предметов обстановки. Качественные препараты дают возможность устранить следы плесени и вредоносных микроорганизмов.</p>
                <h4>Результат уборки</h4>
                <p>Уборка перед рождением ребенка клининг в Москве позволяют родителям почувствовать безопасность для малыша, так как результаты работы специалистов видны сразу. Заказчики порой и не догадываются о том, что в их доме, в котором они постоянно наводили чистоту, было не настолько идеально, как казалось до приезда профессионалов.</p>
                <p>В помещении устраняются неприятные запахи, а вместо них появляется аромат чистоты и свежести. Обивка мягкой мебели приобретает первоначальный вид, поверхности корпусных предметов обстановки лишаются пятен. Клининг обеспечивает не только приятную, но и здоровую атмосферу.</p>
                <h4>Почему рекомендуется заказать уборку квартиры у нас</h4>
                <p>Наши сотрудники имеют колоссальный опыт наведения чистоты на самых разных объектах. Работают они профессионально, не пропуская ни одного миллиметра площади. Вы можете заказать мытье камеры холодильника, духового шкафа, вытяжки, микроволновой печи, и цена при этом будет разумной. Клининг необходим не только до рождения ребенка, но и в период его взросления, и обращаться к нам для получения услуги вы можете в любое время.</p>
                <p>Чтобы подать заявку онлайн, не потребуется много времени. Наши менеджеры реагируют оперативно, и ваше обращение без внимания не останется.</p>
                <p>Уборка проводится в сжатые сроки, а цена зависит от объема работ, площади помещения, его исходного состояния и используемого оборудования. Комнаты будут отмыты до блеска, и это – не преувеличение, так как технологии применяются инновационные, а техника – промышленная. Вы сразу заметите разницу между тем, как было и стало.</p>
                <p>Уборка квартиры перед рождением ребенка – не просто текущие хлопоты по дому, а ответственное мероприятие, которое лучше доверять экспертам.</p>
            </div>
            <!-- text end -->
            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Генеральная уборка офиса</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <p class="intro-uslugi__info">Генеральная уборка офиса длится примерно от 6 часов. Время уборки зависит от площади помещения и загрязнений.</p>
            </div>
        </div>
    </div>
</div>