<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">Уборка таунхауса</h1>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Уборка таунхауса, стоимость которой зависит от объема и вида работ, выполняется нами в сжатые сроки. Мы приезжаем по первому вызову и выполняем самые разные виды клининга: от наведения чистоты после ремонта или сдачи объекта в эксплуатацию до ежедневного поддержания комфорта. Вне зависимости от жилой площади наши специалисты справляются со своими обязанностями в оговоренные сроки и в высоком качестве.</span>
                <p>Сотрудники нашей службы имеют большой опыт работы. Они знакомы со всеми нюансами удаления сложных и стойких загрязнений, а на вооружении у них имеется современное промышленное оборудование. Моющие средства используются из эко-серии, не вызывающие аллергии и не выделяющие в атмосферу вредных веществ. Цена работ зависит от их объема и вида и рассчитывается индивидуально для каждого клиента. Перечень работ включает:</p>
                <ul>
                    <li>Удаление пыли со всех поверхностей – доступных и труднодоступных;</li>
                    <li>Наведение порядка: раскладывание вещей по своим местам;</li>
                    <li>Мойка кафельной плитки, чистка пола с любыми видами покрытий;</li>
                    <li>Избавление от пыли и загрязнений потолков;</li>
                    <li>Дезинфекция сантехники;</li>
                    <li>Обработка специальными препаратами бытовой (внутри и снаружи) и компьютерной техники, устройств системы «Умный дом»;</li>
                    <li>Доведение зеркал до блеска;</li>
                    <li>Влажная уборка пола, плинтусов;</li>
                    <li>Чистка мягкой мебели и текстиля.</li>
                </ul>
                <h4>Уборка после ремонта</h4>
                <p>Уборка таунхауса после ремонта также возможна по желанию заказчиков. Такие работы стоят недорого и состоят из следующих этапов:</p>
                <ul>
                    <li>Срочный вынос мусора и остатков стройматериалов;</li>
                    <li>Обеспыливание поверхностей, в том числе стен, потолка и пола;</li>
                    <li>Мойка радиаторов – традиционных и встроенных, подоконников, дверных блоков, фурнитуры;</li>
                    <li>Удаление стойких строительных смесей.</li>
                </ul>
                <p>Любой ремонт требует подготовки к заселению, и, после отъезда наших клинеров ваше помещение будет готово принять своих владельцев. Вам останется только расставить мебель по своим местам и развесить шторы. Стоимость не ударит вас по карману, а вот для того, чтобы справиться своими силами, придется понести потери времени и сил.</p>
                <h4>В чем преимущества уборки таунхауса профессионалами</h4>
                <p>Жизнь диктует свои правила и устанавливает ритмы. Большинство посвящает много времени работе, а на домашние дела его не остается. Таунхаусы имеют большую площадь, и успеть сделать по дому то, что необходимо, оказывается не реально, особенно, если в помещении много труднодоступных мест и коммуникаций. Не имеет значения, какая уборка таунхауса вам требуется – мы способны решать задачи любой сложности, так как имеем большой опыт. Поверьте, это недорого.</p>
                <p>Чтобы пригласить специалистов, достаточно оставить заявку онлайн, что займет у вас пару минут. В приоритете для нашей клининговой компании – оперативность и высокое качество работ, которые доступны всем желающим в Москве.</p>
                <p>Чтобы наша компания приступила к уборке таунхауса, оставляйте заявку онлайн на сайте и наши менеджеры незамедлительно ее рассмотрят, после чего в оговоренное время к вам выедут специалисты для наведения чистоты.</p>
            </div>
            <!-- text end -->
            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Генеральная уборка офиса</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <p class="intro-uslugi__info">Генеральная уборка офиса длится примерно от 6 часов. Время уборки зависит от площади помещения и загрязнений.</p>
            </div>
        </div>
    </div>
</div>