.intro-prices {
    position: relative;
    background-color: #F5F5F5;
    padding: 150px 0 100px;
    @media (max-width:600px) {
        padding: 50px 0;
    }
    @media (min-width:601px) and (max-width:1099px) {
        padding: 100px 0 50px;
    }
    &__title {
        color: #353535;
        font-size: 58px;
        font-weight: 700;
        font-family: 'Muller';
        margin-bottom: 100px;
        line-height: 1.17;
        text-align: center;
        @media (max-width:600px) {
            margin-bottom: 30px;
            font-size: 32px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            margin-bottom: 50px;
            font-size: 42px;
        }
    }
    &__content {
        border-bottom: 1px solid rgba($color: #353535, $alpha: 0.4);
    }
    &__table {
        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: auto;
        }
        thead {
            
        }
        th {
            border-style: solid;
            border-width: 2px 2px 2px 2px;
            border-color: #f29304;
            color: #353535;
            font-size: 21px;
            font-family: 'Muller',sans-serif;
            font-weight: 500;
            padding: 30px;
            text-align: left;
            @media (max-width:600px) {
                font-size: 16px;
                padding: 10px;
            }
            @media (min-width:601px) and (max-width:1099px) {
                font-size: 18px;
                padding: 20px;
            }
        }
        td {
            border-width: 2px 2px;
            border-style: solid;
            vertical-align: top;
            border-color: #f29304;
            color: #353535;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Muller',sans-serif;
            padding: 30px;
            text-align: left;
            @media (max-width:600px) {
                font-size: 12px;
                padding: 10px;
            }
            @media (min-width:601px) and (max-width:1099px) {
                font-size: 14px;
                padding: 20px;
            }
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px 0 100px;
        @media (max-width:600px) {
            margin: 20px 0 50px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            margin: 20px 0 50px;
        }
    }
    &__avans {
        color: #f29304;
        font-size: 18px;
        font-family: 'Muller',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 700;
        max-width: 543px;
        @media (max-width:600px) {
            font-size: 14px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 16px;
            max-width: 300px;
        }
    }
    &__dop {
        color: #353535;
        font-size: 14px;
        font-family: 'Muller',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        opacity: 0.65;
        max-width: 390px;
        @media (max-width:600px) {
            font-size: 12px;
            margin-top: 10px;
        }
        @media (min-width:601px) and (max-width:1099px) {
            font-size: 12px;
            max-width: 300px;
        }
    }
}