<div class="works-slider-uslugi">
    <div class="wrapper">
        <div class="works-slider-uslugi__content">
            <h2 class="works-slider-uslugi__title works-slider-uslugi__title_else title">Как определить запущенная у Вас квартира или нет:</h2>
            <div class="examples__slider">
                <div class="slider-examples slider-examples_work slider-examples_else">

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/1.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">Квартира запущенная, если на кухонном гарнитуре сверху есть слой застарелого жира, сильные загрязнения на фасадах кухни, фартуке, плите.</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/2.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">Под кухонным гарнитуром присутствует много пыли, жировых загрязнений, крошек, шерсти, грязи.</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/3.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">Радиаторы батарей забиты грязью, пылью, шерстью и остатками цемента при неквалифицированной уборке после ремонта.</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/4.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">Сильные загрязнения плинтусов и напольного покрытия.</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/5.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">В санузле на плитке, в душевой кабине на стёклах, зеркалах присутствует сильный известковый, мыльный, никотиновый налёт и другие загрязнения. Сильные загрязнения ванной и унитаза.</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/6.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">Если в квартире много шерсти, есть плесень и паутина, квартира захламленна, имеется неприятный запах.</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/7.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">Присутствуют сильные загрязнения ручек дверей, дверных полотен, выключателей, розеток.</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/else/8.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title"></h3>
                            <p class="slider-examples__text">Квартира также считается запущенной, если проводилась дезинсекция и дератизация.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>