<div class="backcall backcall_allpage">
    <a class="move-elem circle" data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical"></a>
    <a class="move-elem dirt" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="vertical"></a>
    <div class="wrapper">
        <!-- <div class="backcall__content">
            <h2 class="backcall__title title">Рассчитать стоимость</h2>
            <p class="backcall__info">Оставьте заявку и наш менеджер свяжется с вами в ближайшее время</p>
            <form class="backcall__form" action="mail.php" method="post">
                <label class="inplabel" for="name">Имя</label>
                <input type="name" id="name" name="name" placeholder="Александр Герасимов" required>
                <label class="inplabel" for="number">Телефон</label>
                <input type="number" id="phone2" name="number" required>
                <input class="checkbox" type="checkbox" id="polit" name="polit" value="yes" required>
                <label class="checklabel" for="polit"><p>Соглашаюсь с условиями <a href="public_offer.html">публичной оферты</a> и <a href="privacy.html">политики конфиденциальности</a></p></label>
                <button type="submit" class="btn backcall__btn">Оставить заявку</button>
            </form>
        </div> -->
        <script data-b24-form="inline/32/99prpm" data-skip-moving="true">
            (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'https://cdn-ru.bitrix24.ru/b9597171/crm/form/loader_32.js');
        </script>
        <p class="backcall__agree">*Нажимая "Отправить" я соглашаюсь с условиями <a href="public_offer.html">публичной оферты</a> и <a href="privacy.html">политики конфиденциальности</a></p>
    </div>
</div>