<div class="benefits benefits_allpage">
    <div class="wrapper">
        <div class="benefits__content">
            <h2 class="benefits__title title">Наши преимущества</h2>
            <div class="benefits__grid">

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/prices/benefits/1.svg);"></a>
                    <h3 class="benefits__smalltitle">Оборудование</h3>
                    <p class="benefits__info">Химчистка осуществляется с помощью профессионального оборудования Santoemma Sabrina</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/prices/benefits/2.svg);"></a>
                    <h3 class="benefits__smalltitle">Средства</h3>
                    <p class="benefits__info">Используем профессиональные чистящие средства Chemspec</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/prices/benefits/3.svg);"></a>
                    <h3 class="benefits__smalltitle">Качество</h3>
                    <p class="benefits__info">У нас работают только сертифицированные мастера. Обрабатываем ополаскивателем для нейтрализации моющих средств и стабилизации цветов</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/prices/benefits/4.svg);"></a>
                    <h3 class="benefits__smalltitle">Бесплатная сушка</h3>
                    <p class="benefits__info">Принудительная сушка в течении 30 минут</p>
                </div>

            </div>
        </div>
    </div>
</div>