<div class="cleaning-process cleaning-process_all">
    <div class="wrapper">
        <div class="cleaning-process__content">
            <h2 class="cleaning-process__title title">Процесс уборки</h2>
            <div class="benefits__grid">

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/cleaning-process/1.svg);"></a>
                    <h3 class="benefits__smalltitle">Заявка</h3>
                    <p class="benefits__info">Оставьте заявку на сайте или по телефону</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/cleaning-process/2.svg);"></a>
                    <h3 class="benefits__smalltitle">Расчет стоимости</h3>
                    <p class="benefits__info">Мы связываемся с вами, обговариваем детали и определяем удобное время</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/cleaning-process/3.svg);"></a>
                    <h3 class="benefits__smalltitle">Уборка</h3>
                    <p class="benefits__info">Наши сотрудники выезжают к вам со всем оборудованием и проводят уборку</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/cleaning-process/4.svg);"></a>
                    <h3 class="benefits__smalltitle">Прием работ</h3>
                    <p class="benefits__info">Вы проверяете, утверждаете и оплачиваете результат</p>
                </div>

            </div>
        </div>
    </div>
</div>