<footer class="footer">
	<div class="wrapper">
		<div class="footer__content">

			<div class="footer__elem">
				<div class="footer__logo">
					<a href="/" class="logo"></a>
				</div>
				<p class="footer__cop">© 2016 - 2021 Клининговая компания «Домачисто». Все права защищены.</p>
				<a href="privacy.html" class="footer__polit">Политика конфиденциальности</a>
				<a href="public_offer.html" class="footer__polit">Публичная оферта</a>
			</div>

			<div class="footer__elem">
				<h3 class="footer__smalltitle">ЮР. ИНФОРМАЦИЯ</h3>

				<div class="footer__block">
					<p>ИП Малинин Даниил</p>
					<p>Юрьевич</p>
				</div>

				<div class="footer__block">
					<p>ОГРНИП :</p>
					<p>318505300105808</p>
				</div>

				<div class="footer__block">
					<p>ИНН:</p>
					<p>631111195592</p>
				</div>

			</div>

			<div class="footer__elem">
				<h3 class="footer__smalltitle">КОНТАКТЫ</h3>

				<div class="footer__block">
					<p>Адрес:</p>
					<p>143405, Московская область, г. Красногорск, ул. Авангардная 8</p>
				</div>

				<div class="footer__block">
					<p>Тел:</p>
					<a href="tel:+79256374828" rel="nofollow">8 (925) 637 48 28</a>
				</div>
			</div>

		</div>
	</div>
</footer>
