<div class="stock" id="stock">
    <div class="wrapper">
        <div class="stock__content">
            <h2 class="stock__title">Акция!</h2>
            <div class="stock__info">
                <p>Скидка 50% на химчистку при заказе вместе с уборкой</p>
                <p>Скидка 20% при заказе уборки и мойки окон</p>
            </div>
            <div class="stock__btn">
                <a href="" class="btn btn_orange">Оставить заявку</a>
            </div>
            <div class="stock__close">
                <a class="close" data-target="#stock"></a>
            </div>
        </div>
    </div>
</div>