<div class="benefits">
    <div class="wrapper">
        <div class="benefits__content">
            <h2 class="benefits__title title">Наши преимущества</h2>
            <div class="benefits__grid">

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/benefits/1.svg);"></a>
                    <h3 class="benefits__smalltitle">Сотрудники славяне</h3>
                    <p class="benefits__info">У нас работают только трудоустроенные и опытные сотрудники</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/benefits/2.svg);"></a>
                    <h3 class="benefits__smalltitle">Контроль качества</h3>
                    <p class="benefits__info">Осматриваем квартиру как в программе «Ревизорро»</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/benefits/3.svg);"></a>
                    <h3 class="benefits__smalltitle">Профессиональная химия и оборудование</h3>
                    <p class="benefits__info">Используем только, качественную продукцию</p>
                </div>

                <div class="benefits__card">
                    <a class="benefits__img" style="background-image: url(img/main/benefits/4.svg);"></a>
                    <h3 class="benefits__smalltitle">Работаем по договору</h3>
                    <p class="benefits__info">Работа с заключением договора и в соответсвии с регламентом</p>
                </div>

            </div>
        </div>
    </div>
</div>