<div class="cleaning-components">
    <a class="move-elem blot" data-paroller-factor="0.1" data-paroller-type="foreground" data-paroller-direction="vertical"></a>
    <div class="wrapper">
        <div class="cleaning-components__content">
            <h2 class="cleaning-components__title title">Что входит в уборку?</h2>
            <div class="cleaning-components__tabs tabs">
                <div class="tabs__nav">
                    <a class="tabs__nav-elem active" data-target="#onetab">Генеральная уборка</a>
                    <a class="tabs__nav-elem" data-target="#twotab">Уборка сильнозапущенных квартир</a>
                    <a class="tabs__nav-elem" data-target="#threetab">Уборка после ремонта</a>
                </div>
                <div class="tabs__content">

                    <div class="tabs__elem active" id="onetab">
                        <a class="tabs__img" style="background-image: url(img/main/cleaning-components/1.png);"></a>
                        <div class="tabs__info">
                            <ul>
                                <li>Удаляем на всех поверхностях сложные загрязнения: ржавчину, следы жира, известковый налет, водный камень, в кухне, в комнатах, в сан. узлах, а также не забываем про входную группу.</li>
                                <li>Используем пароочиститель для удаления загрязнений в труднодоступных местах.</li>
                                <li>Двигаем легкую мебель: прикроватные тумбы, кресла, диваны, кровати и протираем.</li>
                                <li>Протираем мебель, зеркала и стеклянные поверхности. <br>
                                    Промываем тщательно напольное покрытие и плинтусы.</li>
                                <li>Выносим мусор.</li>
                            </ul>
                            <p>Полный перечень работ доступен в разделе <a href="/prices.html">цены</a></p>
                        </div>
                    </div>

                    
                    <div class="tabs__elem" id="twotab">
                        <a class="tabs__img" style="background-image: url(img/main/cleaning-components/2.png);"></a>
                        <div class="tabs__info">
                            <ul>
                                <li>Удаляем на всех поверхностях очень сложные, трудновыводимые загрязнения: ржавчину, следы жира, известковый налет, водный камень, в кухне, в комнатах, в сан. узлах, а также не забываем про входную группу.</li>
                                <li>Наводим порядок и идеальную чистоту, подготавливаем помещение к комфортному проживанию.</li>
                                <li>Используем пароочиститель для удаления загрязнений в труднодоступных местах.</li>
                                <li>Двигаем легкую мебель: прикроватные тумбы, кресла, диваны, кровати и протираем.</li>
                                <li>Протираем мебель, зеркала и стеклянные поверхности.</li>
                                <li>Промываем тщательно напольное покрытие и плинтусы.</li>
                            </ul>
                            <p>Полный перечень работ доступен в разделе <a href="/prices.html">цены</a></p>
                        </div>
                    </div>

                    
                    <div class="tabs__elem" id="threetab">
                        <a class="tabs__img" style="background-image: url(img/main/cleaning-components/3.png);"></a>
                        <div class="tabs__info">
                            <ul>
                                <li>Основной акцент делаем на уборку строительной пыли, удаление следов краски, скотча, цемента, затирки, грунтовки в кухне, в комнатах, в сан. узлах, а также не забываем про входную группу.</li>
                                <li>Используем пароочиститель для удаления загрязнений в труднодоступных местах.</li>
                                <li>Двигаем легкую мебель: прикроватные тумбы, кресла, диваны, кровати и протираем.</li>
                                <li>Протираем мебель, зеркала и стеклянные поверхности.</li>
                                <li>Приводим помещение в полный порядок, наводим идеальную чистоту и подготавливаем помещение к комфортному постоянному проживанию.</li>
                                <li>Промываем тщательно напольное покрытие и плинтусы.</li>
                            </ul>
                            <p>Полный перечень работ доступен в разделе <a href="/prices.html">цены</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>