<div class="employees">
    <div class="wrapper">
        <div class="employees__content">
            <h2 class="employees__title title">Наши сотрудники</h2>
            <div class="employees__slider">
                <div class="slider-employees">

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/1.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Диана</h4>
                            <div class="slider-employees__text"></div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/2.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Наташа</h4>
                            <div class="slider-employees__text"></div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/3.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Люда</h4>
                            <div class="slider-employees__text"></div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/4.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Лаура</h4>
                            <div class="slider-employees__text">Сделана вакцина от covid-19</div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/5.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Елена</h4>
                            <div class="slider-employees__text">Сделана вакцина от covid-19</div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/6.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Дмитрий</h4>
                            <div class="slider-employees__text"></div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/7.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Виктория</h4>
                            <div class="slider-employees__text">Сделана вакцина от covid-19</div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/8.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Сергей</h4>
                            <div class="slider-employees__text"></div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/9.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Анна</h4>
                            <div class="slider-employees__text"></div>
                        </div>
                    </div>

                    <div class="slider-employees__slide">
                        <a class="slider-employees__img" style="background-image: url(img/main/employees/10.jpg);"></a>
                        <div class="slider-employees__info">
                            <h4 class="slider-employees__name">Вероника</h4>
                            <div class="slider-employees__text">Сделана вакцина от covid-19</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>