<div class="examples">
    <div class="wrapper">
        <div class="examples__content">
            <h2 class="examples__title title">Примеры работ</h2>
            <div class="examples__slider">
                <div class="slider-examples">
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/1.jpg);"></a>
                    </div>
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/2.jpg);"></a>
                    </div>
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/3.jpg);"></a>
                    </div>
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/4.jpg);"></a>
                    </div>
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/5.jpg);"></a>
                    </div>
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/6.jpg);"></a>
                    </div>
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/7.jpg);"></a>
                    </div>
                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/main/examples/8.jpg);"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>