<div class="grade">
    <div class="wrapper">
        <div class="grade__content">
            <h2 class="grade__title title">Нас оценивают</h2>
            <div class="grade__grid">

                <div class="grade__gradeblock">
                    <h3 class="grade__num">4.7</h3>
                    <div class="grade__stars">
                        <a class="grade__star"></a>
                        <a class="grade__star"></a>
                        <a class="grade__star"></a>
                        <a class="grade__star"></a>
                        <a class="grade__star"></a>
                    </div>
                    <span class="grade__gradeall">Общая оценка</span>
                </div>

                <div class="grade__reviews">

                    <div class="grade__review">
                        <h4 class="grade__name">Елена М</h4>
                        <p class="grade__text">Здравствуйте. Заказывала уборку после ремонта. Хочу выразить благодарность сотрудникам компании за оперативность и качественную работу. Квартира сияет чистотой!!! Отдельное спасибо Диане и Сергею.</p>
                    </div>

                    <div class="grade__review">
                        <h4 class="grade__name">Ирина Степанова</h4>
                        <p class="grade__text">Хотим выразить благодарность компании и в частности девушкам Люде и Наташе, просто на отлично справились с нашей грязной квартиркой, идеальная чистота</p>
                    </div>

                    <p class="grade__link">Смотреть на <a href="https://yandex.by/profile/187594022916?intent=reviews&utm_source=badge&utm_medium=rating&utm_campaign=v1">Яндекс</a></p>
                </div>

            </div>
        </div>
    </div>
</div>