<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content intro-uslugi__content_main">
            <h2 class="intro-uslugi__title intro-uslugi__title_inf">Клининг</h2>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Профессиональные услуги клининга в Москве недорого можно заказать в нашей компании. Мы предоставляем широкий спектр услуг, позволяющих вам не тратить личное время.</span>
                <h4>Описание:</h4>
                <p>Клининговые услуги довольны распространены в последнее время. Это связано с несколькими факторами:</p>
                <ul>
                    <li>Экономия личного времени.</li>
                    <li>Отлично выполненные работы.</li>
                    <li>Небольшая стоимость.</li>
                </ul>
                <h4>Наша компания имеет несколько направлений:</h4>
                <ul>
                    <li>Клининг после ремонта. Это самый трудоемкий процесс, включающий в себя отмытие краски, удаление скотча и уборка всей строительной пыли с любых поверхностей. Используется для этого специальное оборудование, позволяющее очистить не только твердые поверхности, но и мягкие диваны, кресла, ковры и прочее.</li>
                    <li>Клининг сильно запущенной квартиры. такое встречается не так часто, но тоже бывает. Мы готовы предложить для вас комплекс услуг, позволяющий убрать захламленность и привести квадратные метры к отличному состоянию. Для этого мы обрабатываем все поверхности, очищаем трудновыводимые пятна, проводим полный клининг всей квартиры, включая окна и двери.</li>
                    <li>Регулярная генеральная уборка. Как бы хорошо вы не смотрели за квартирой и не прибирались, генеральная уборка просто необходима. Она позволяет избавляться от пыли и плохо выводимых пятен. Мы готовы предложить вам не только уборку, но и химчистку мягкой мебели и ковров. Также каждая уборка затрагивает такие места, как: туалет, ванная комната, решетки на вентиляции, сантехника, бытовая техника на кухне. Мы убираем грязь, жир, ржавчину и пр.</li>
                </ul>
                <h4>Почему стоит обратиться к нам</h4>
                <p>Наша компания предоставляет услуги в данном направлении с 2016 года. Поэтому мы:</p>
                <ul>
                    <li>гарантируем результат;</li>
                    <li>озвучиваем стоимость до начала работы;</li>
                    <li>выполняем все работы в оговоренный срок;</li>
                    <li>применяем только надежное немецкое оборудование Karcher;</li>
                    <li>предоставляем индивидуальный подход к каждому клиенту;</li>
                    <li>менеджер контролирует все этапы;</li>
                    <li>предоставляем лояльное ценообразование.</li>
                </ul>
                <h4>Проводить клининг в квартире или доме не только можно, но и нужно. Чаще всего у нас заказывают услугу, когда:</h4>
                <ul>
                    <li>Только переехали в квартиру и хотят ее отмыть после предыдущих жильцов.</li>
                    <li>В дом должны привезти новорожденного малыша.</li>
                    <li>В качестве подарка для мамы, жены или свекрови.</li>
                    <li>В квартире проживает больной человек, которому противопоказана пыль.</li>
                </ul>
                <p>Заказать клининг в Москве недорого, значит обратиться в нашу команду профессионалов. Мы готовы предоставить вам широкий спектр услуг, позволяющий провести уборку квартир за короткое время с высоким результатом. Наши специалисты самостоятельно передвигают мебель, для избавления от пыли в труднодоступных местах.</p>
                <p>Оформление заказа доступно на нашем официальном сайте Домачисто. Если у вас остались вопросы, просто позвоните нам. Наши консультанты помогут вам оставить заявку и расскажут основные моменты по уборке.</p>
            </div>
            <!-- text end -->
        </div>
    </div>
</div>