<div class="questions">
    <div class="wrapper">
        <div class="questions__content">
            <h2 class="questions__title title">Вопросы и ответы</h2>
            <div class="questions__grid">

                <div class="questions__elem">
                    <h4 class="questions__smalltitle" data-target="#questions1">Нужно ли мне быть дома во время уборки?</h4>
                    <p class="questions__text" id="questions1">Многие клиенты остаются дома, когда впервые заказывают уборку. Но в следующий раз они предпочитают оставить менеджера и клинеров дома. А в освободившееся время предпочитают заниматься более приятными делами.</p>
                </div>

                <div class="questions__elem">
                    <h4 class="questions__smalltitle" data-target="#questions2">Клинеры приезжают с необходимым инвентарем и средствами?</h4>
                    <p class="questions__text" id="questions2">Да, наши специалисты укомплектованы необходимым инвентарем и чистящими средствами. Мы используем только профессиональную химию и оборудование. И это позволяет нам добиваться идеальной чистоты</p>
                </div>

                <div class="questions__elem">
                    <h4 class="questions__smalltitle" data-target="#questions3">А вы мне ничего не испортите?</h4>
                    <p class="questions__text" id="questions3">Опыт нашей работы больше 5 лет. За это время мы разработали уникальную программу обучения для наших сотрудников. Клинеры знают каким способом и на каких поверхностях нужно использовать специализированную химию. Поэтому мы обеспечим сохранность Вашего имущества.</p>
                </div>

                <div class="questions__elem">
                    <h4 class="questions__smalltitle" data-target="#questions4">Вы отмываете затирку с плитки?</h4>
                    <p class="questions__text" id="questions4">Да, у нас есть специальные средства для бережного удаления затирки с различных поверхностей.</p>
                </div>

                <div class="questions__elem">
                    <h4 class="questions__smalltitle" data-target="#questions5">Мебель двигаете?</h4>
                    <p class="questions__text" id="questions5">Крупногабаритную мебель и технику мы всегда стараемся передвигать. Так как работают у нас в основном девушки, поэтому не всегда можем справиться самостоятельно, поэтому если мебель тяжелая, то можете предварительно отодвинуть до начала уборки. Если конструкция мебели или техники позволяет пропылесосить и подлезть шваброй, то мы помоем не двигая.</p>
                </div>

                <div class="questions__elem">
                    <h4 class="questions__smalltitle" data-target="#questions6">Могу ли я не переживать за сохранность вещей, не пропадет ли что-то из квартиры?</h4>
                    <p class="questions__text" id="questions6">Мы прекрасно понимаем Ваше сомнение, когда Вы впускаете не знакомого человека в дом, но можем Вас уверить, что штат сотрудников давно скомплектован, у нас работают проверенные службой безопасности люди, которые дорожат своей работой и ничего чужого не возьмут.</p>
                </div>

            </div>
        </div>
    </div>
</div>