<div class="reviews">
    <div class="wrapper">
        <div class="reviews__content">
            <h2 class="reviews__title title">Отзывы наших клиентов</h2>
            <div class="reviews__grid">
                <div class="reviews__video lazy" style="background-image: url(img/main/reviews/1.jpg);">
                    <a href="https://www.instagram.com/p/B4fJBNMlM2E/" class="reviews__videoplay" style="background-image: url(img/main/reviews/play.svg);"></a>
                </div>
                <div class="reviews__foto">
                    <a data-fancybox="gallery-reviews" data-src="img/main/reviews/2.jpg" class="reviews__img img1 lazy" style="background-image: url(img/main/reviews/2.jpg);"></a>
                    <div class="reviews__foto_in">
                        <a data-fancybox="gallery-reviews" data-src="img/main/reviews/3.jpg" class="reviews__img img2 lazy" style="background-image: url(img/main/reviews/3.jpg);"></a>
                        <a data-fancybox="gallery-reviews" data-src="img/main/reviews/4.jpg" class="reviews__img img3 lazy" style="background-image: url(img/main/reviews/4.jpg);"></a>
                    </div>
                </div>
                <p class="reviews__link">Смотреть все отзывы в <a href="https://www.instagram.com/domachisto.su/">instagram</a></p>
            </div>
        </div>
    </div>
</div>