<div class="video-block">
    <a class="move-elem circle circle_white" data-paroller-factor="0.1" data-paroller-type="foreground" data-paroller-direction="vertical"></a>
    <a class="move-elem circle circle_white circle_big" data-paroller-factor="-0.2" data-paroller-type="foreground" data-paroller-direction="vertical"></a>
    <a class="move-elem circle circle_white circle_middle" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="vertical"></a>
    <div class="wrapper">
        <div class="video-block__content">
            <h2 class="video-block__title title">На данном видео мы наглядно показываем, как мы моем окна</h2>
            <p class="video-block__info">Промываем резинки и очищаем даже в самых труднодоступных местах</p>
            <div class="video-block__video">
                <iframe id="youtubeiframe" class="t-iframe loaded" width="100%" height="100%" data-original="https://youtube.com/embed/DNUsxXhYot4?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0" frameborder="0" allowfullscreen="" data-flag-inst="lazy" src="//youtube.com/embed/DNUsxXhYot4?rel=0&amp;fmt=18&amp;html5=1&amp;showinfo=0"></iframe>
            </div>
            <a class="video-block__btn btn">Оставить заявку</a>
        </div>
    </div>
</div>