<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">Клининг после дезинфекции</h1>
            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>От вредоносных насекомых довольно трудно избавиться: для этого используются ядовитые препараты, а вслед за этим необходим клининг после дезинфекции, цена которого у нас приемлема для каждого. В продаже имеются химикаты для борьбы с вредителями, не имеющие запаха, но это не говорит о том, что они не причиняют вреда здоровью людей и животных, а также комнатным растениям. Остатки этих веществ, а также тельца погибших клопов необходимо удалять, чтобы не получить проблем в перспективе. Справиться своими силами не всегда удается, поэтому лучше приглашать клинеров.</span>
                <p>Если вы вытравили насекомых, сразу же откройте окна, и отправляйтесь на улицу. Помещение должно хорошо проветрится. После этого обращайтесь к нам, и мы окажем вам помощь по приемлемой стоимости. Мероприятия проводятся следующие:</p>
                <ul>
                    <li>Удаление погибших вредителей сухим методом;</li>
                    <li>Мытье и дезинфекция поверхностей;</li>
                    <li>Чистка мягкой мебели;</li>
                    <li>Чистка труднодоступных мест;</li>
                    <li>Дезинфекция текстиля;</li>
                    <li>Обработка домашней техники и оргтехники;</li>
                    <li>Мытье посуды.</li>
                </ul>
                <p>Владельцы жилья, в котором проводилась обработка, должны также устроить масштабную стирку, так как элементы гардероба могут пропитаться ядами. Всю остальную работу выполним мы – профессионально и быстро.</p>
                <p>Уборка квартиры после дезинфекции от клопов, цена в Москве на которую оправдана применением высококачественных средств и инновационного оборудования, выполняется оперативно, так как наши сотрудники понимают всю важность поставленной задачи.</p>
                <h4>Причины обратиться к нам после дезинфекции</h4>
                <p>Наша компания владеет новыми технологиями, а ее сотрудники знают о процессе уничтожения вредителей все и даже больше. Работают они профессионально, и результат оправдывает все ожидания. После отъезда наших специалистов вы не найдете ни одного дохлого клопа даже в самых труднодоступных местах. Будет обработан каждый угол, каждый сантиметр площади.</p>
                <p>Мы гарантируем восстановление здорового микроклимата в вашей квартире, а от неприятного запаха, если он останется после применения химикатов, не останется и следа: ему на смену придет аромат свежести. Вы быстро сможете вернуться к обычной жизни, так как все риски будут исключены. В Москве мы неоднократно выполняли такие работы, и заказчики оставались довольны. Обращайтесь к нам онлайн.</p>
                <h4>Почему не следует убирать после дезинсекции самостоятельно</h4>
                <p>Моющие средства содержат в своем составе самые разные компоненты, и надо быть немного химиком, чтобы понимать, какие из них совместимы, а какие – нет. Смешав даже самые качественные средства, можно получить нежелательный эффект, и тогда вредных выделений в атмосферу станет больше, а это чревато отравлением. Народные средства также могут навредить. Чтобы избежать таких неприятностей, оставляйте заявку на нашем сайте.</p>
                <p>Чтобы ваш дом был идеально чистым, без следов присутствия насекомых и неприятных запахов, заказывайте клининг после дезинфекции, и мы придем к вам на помощь, чтобы выполнить уборку в короткие сроки.</p>
            </div>
            <!-- text end -->
            <div class="intro-uslugi__tabs">
                <a class="intro-uslugi__tab active" data-target="#onetable">В кухне</a>
                <a class="intro-uslugi__tab" data-target="#twotable">В комнатах</a>
                <a class="intro-uslugi__tab" data-target="#threetable">В санузлах</a>
            </div>
            <div class="intro-uslugi__table">
                <!-- one table -->
                <table id="onetable"> 
                    <thead>
                        <tr>
                            <th>В кухне</th>
                            <th> Клининг после дезинфекции</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонных шкафчиков внутри (при пустых полках)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем </td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонного гарнитура сверху</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 30 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка напольного покрытия под кухонным гарнитуром</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- two table -->
                <table class="non-active" id="twotable"> 
                    <thead>
                        <tr>
                            <th>В комнатах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка карнизов, кондиционеров, гардин</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей(4м2)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена постельного белья по требованию</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакетов в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка радиаторов отопления пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление средних и сильных загрязнений</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <!-- three table -->
                <table class="non-active" id="threetable"> 
                    <thead>
                        <tr>
                            <th>В санузлах</th>
                            <th> Генеральная уборка квартиры</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка коллекторного узла пароочистителем</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов, а также внутри(при пустых полках)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мытье люстр (за искл.: хрустальных, требующих снятия, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка потолка от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

                <p class="intro-uslugi__info">Генеральная уборка офиса длится примерно от 6 часов. Время уборки зависит от площади помещения и загрязнений.</p>
            </div>
        </div>
    </div>
</div>