<div class="intro-uslugi">
    <div class="wrapper">
        <div class="intro-uslugi__content">
            <h1 class="intro-uslugi__title intro-uslugi__title_inf">КОМПЛЕКСНАЯ УБОРКА</h1>

            <!-- text -->
            <div class="intro-uslugi__doptext">
                <span>Нужна комплексная уборка квартиры в Москве по доступной цене? Вы пришли по адресу, мы — команда профессионалов, обеспечивающих клининг помещений различного назначения.</span>
                <h4>Описание:</h4>
                <p>Комплесная уборка квартиры — необходимость, которая создает чистоту в помещении. Но чаще всего у нас не хватает ни времени, ни сил, чтобы заниматься самостоятельно. А иногда и определенных средств, которые помогают справиться с определенными видам загрязнений.</p>
                <p>В данной ситуации можно воспользоваться тремя вариантами:</p>
                <ol>
                    <li>Выбросить испорченный предмет (например плиту, которая имеет большой слой жира) и приобрести новую.</li>
                    <li>Приобрести множество разнообразных средств, посмотреть в интернете и постараться самостоятельно очистить поверхность.</li>
                    <li>Заказать клининговую компанию, которая сэкономит вам денежные средства, время и силы, удалив даже трудновыводимые пятна.</li>
                </ol>
                <h4>Когда требуется уборка:</h4>
                <p>Комплесную уборку в любом жилом помещении необходимо проводить один раз в два месяца, а еще лучше в месяц. Но это совсем не означает, что если вы самостоятельно сделали такую уборку, у вас в квартире чисто. Имеется много труднодоступных мест, которые чаще всего мы просто не замечаем:</p>
                <ul>
                    <li>плинтуса;</li>
                    <li>люстры;</li>
                    <li>углы под потолком;</li>
                    <li>гардины;</li>
                    <li>и пр.</li>
                </ul>
                <h4>Уборка необходима, если:</h4>
                <ul>
                    <li>в квартиру привезут новорожденного;</li>
                    <li>в комнате проживает больной или пожилой человек;</li>
                    <li>вы только переехали и хотите убрать все за прежними хозяевами;</li>
                    <li>вас продолжительное время не было в квартире.</li>
                </ul>
                <p>Этот список можно продолжать бесконечно. Частота уборки также различна. Например, если дом, в котором находится квартира, расположен у трассы, то вся пыль летит на окна и в открытые форточки.</p>
                <h4>Что предлагаем мы:</h4>
                <p>Наша компания “Домачисто” предоставляет квалифицированные услуги по клинингу. Мы, команда профессионалов, имеющий большой опыт в данном направлении, поэтому готовы предоставить вам:</p>
                <ul>
                    <li>индивидуальный подход;</li>
                    <li>лояльное ценообразование;</li>
                    <li>применение только специализированных экологических средств;</li>
                    <li>чистоту без повреждения поверхностей;</li>
                    <li>и пр.</li>
                </ul>
                <p>При любой уборке стоит понимать, с чего начинать и как лучше завершить. К примеру, если нужно промыть входную дверь, то сначала обрабатывается поверхность снизу, а только потом отмывается сама дверь с ручками и покрытием.</p>
                <p>Заказать комплексная уборку квартиры в Москве под ключ недорого, значит обратиться к нам! Мы предоставляем квалифицированные услуги, позволив вам не тратить личное время и выполним все в четко оговоренный срок. Важно понимать, что продолжительность уборки зависит от нескольких факторов: захламленности, запущенности и квадратных метров. Но чаще всего такие работы занимают не менее 6 часов.</p>
            </div>
            <!-- text end -->

            <div class="intro-uslugi__table">

                <table> 
                    <thead>
                        <tr>
                            <th>Уборка кухни</th>
                            <th>Комплексная</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка техники снаружи (Холодильник, Духовка, Микроволновка, Вытяжка)</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов кухонного гарнитура</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка стеновых панелей «фартука»</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кухонной плиты снаружи</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция сантехники</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Чистка кухонных рабочих поверхностей</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>ПОСУДУ до 10 мин бесплатно</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Дезинфекция мест хранения мусора, замена пакета</td>
                            <td> ✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td> ✓</td>
                        </tr>

                        <!--В комнатах-->
                        <tr class="intro-uslugi__table-blackcol">
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="intro-uslugi__table-head">
                            <td>В комнатах</td>
                            <td>Комплексная</td>
                        </tr>
                        <tr>
                            <td>Сухая очистка стен от пыли, паутины и т.д</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка розеток и выключателей</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка подоконников</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с быт. техники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление пыли с предметов интерьера (кроме мелких, сложной конструкции)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Сухая чистка мягкой мебели с пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка зеркал и стеклянных поверхностей (4м²)</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Замена пакета в мусорных корзинах</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включаю фурнитуру</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Очистка полов пылесосом</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>

                        <!--В санузлах-->

                        <tr class="intro-uslugi__table-blackcol">
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="intro-uslugi__table-head">
                            <td>В санузлах</td>
                            <td>Комплексная</td>
                        </tr>
                        <tr>
                            <td>Влажная уборка полов и плинтусов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка кафельной плитки от потолка до пола (очистка швов и удаление эпоксидной затирки оплачивается отдельно)</td>
                            <td>Удаляем локальные загрязнения</td>
                        </tr>
                        <tr>
                            <td>Чистка и дезинфекция всей сантехники</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Удаление сложных загрязнений душевых кабин и ванн</td>
                            <td>Легкие</td>
                        </tr>
                        <tr>
                            <td>Мойка фасадов шкафов</td>
                            <td>✓</td>
                        </tr>
                        <tr>
                            <td>Мойка дверных блоков, включая фурнитуру</td>
                            <td>✓</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>