<div class="works-slider-uslugi">
    <div class="wrapper">
        <div class="works-slider-uslugi__content">
            <h2 class="works-slider-uslugi__title title">Наши работы</h2>
            <div class="examples__slider">
                <div class="slider-examples slider-examples_work">

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/1.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title">Уборка подоконника</h3>
                            <p class="slider-examples__text">Обезжирили моющими средствами | Протерли и удалили все загрязнения без царапин и разводов</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/2.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title">Очистка плиты от сильных жировых загрязнений</h3>
                            <p class="slider-examples__text">Очистили все переключатели | Помыли стекло | Очистили духовой шкаф внутри | Пропылесосили и помыли ящик внизу | Избавили хозяев от неприятного запаха</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/3.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title">Мойка холодильника</h3>
                            <p class="slider-examples__text">Сделали мойку холодильника внутри и снаружи | Очистили от застарелой грязи | Помыли формочки и стёкла | Удалили неприятный запах</p>
                        </div>
                    </div>

                    <div class="slider-examples__slide">
                        <a class="slider-examples__img" style="background-image: url(img/uslugi/work-slider/4.jpg);"></a>
                        <div class="slider-examples__info">
                            <h3 class="slider-examples__title">Мойка микроволновой печи</h3>
                            <p class="slider-examples__text">Очистили застарелый жир и грязь внутри и снаружи | Обезвредили специальными моющими средствами | Очистили все кнопки и переключатели | Удалили неприятный запах</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>