<div class="discount-sales">
    <div class="wrapper">
        <div class="discount-sales__content">
            <h2 class="discount-sales__title title">Еще акции</h2>
            <div class="discount-sales__grid">
                <div class="discount-sales__info">
                    <h3 class="discount-sales__smalltitle">Скидка 10%</h3>
                    <p class="discount-sales__text">
                        На уборку квартиры без мебели. ик  <br>
                        При условии, что в квартире полностью отсутствует мебель, шкафы, кухонный гарнитур, техника
                    </p>
                    <a class="discount-sales__btn btn">Заказать</a>
                </div>
                <a class="discount-sales__img"></a>
            </div>
        </div>
    </div>
</div>