<div class="intro-sales">
    <div class="wrapper">
        <h1 class="title">Акции</h1>
        <div class="intro-sales__content">
            <a class="intro-sales__img"></a>
            <div class="intro-sales__info">
                <h2 class="intro-sales__title">Скидка 50%</h2>
                <p class="intro-sales__text">
                    на химчистку мягкой мебели и ковров при заказе генеральной уборки, уборки после ремонта, уборки запущенной квартиры
                </p>
            </div>
        </div>
    </div>
</div>